<mat-card>
  <mat-card  style="background-color: #f6f7fa">
    <mat-card-title style="text-align: center">Update Complaint Status</mat-card-title>
    <br>
  <form [formGroup]="updateComplaintStatusForm" (ngSubmit)="onSubmit()" #myForm="ngForm">

    <div class="row">
      <mat-form-field appearance="outline" class="col-auto">
        <mat-label>Select Complaint ID</mat-label>
        <mat-select formControlName="complaintID" multiple="false">
          <mat-option *ngFor="let complaintID of complaintIDList; let i = index"
                      [value]="complaintIDList[i]">{{complaintIDList[i]}}</mat-option>
        </mat-select>
        <mat-error>Please select complaint ID</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-auto">
        <mat-label>Select Sub Complaint ID</mat-label>
        <mat-select formControlName="subComplaintID" multiple="false">
          <mat-option *ngFor="let subComplaintID of subComplaintIDList; let i = index"
                      [value]="subComplaintIDList[i]">{{subComplaintIDList[i]}}</mat-option>
        </mat-select>
        <mat-error>Please select sub complaint ID</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-auto">
        <mat-label>Status</mat-label>
        <mat-select  formControlName="complaintStatus" multiple="false">
          <mat-option *ngFor="let status of complaintStatusList; let i = index" [value]="status">{{status}}</mat-option>
        </mat-select>
        <mat-error>Please select status</mat-error>
      </mat-form-field>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!updateComplaintStatusForm.valid">Update</button>

  </form>

</mat-card>
</mat-card>
