<div class="container-fluid">

  <form [formGroup]="updateComplaintStatusForm" (ngSubmit)="onSubmit()" #myForm="ngForm">

    <div class="row">

      <mat-form-field class="col-auto" appearance="outline">
        <mat-label>Complaint ID</mat-label>
        <input type="text" matInput formControlName="complaintID" placeholder="Enter a valied Complaint ID">
      </mat-form-field>

      <mat-form-field class="col-auto" appearance="outline">
        <mat-label>Sub Complaint ID</mat-label>
        <input type="text" matInput formControlName="subComplaintID" placeholder="Enter a valied Sub Complaint ID">
      </mat-form-field>

    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-auto">
        <mat-label>Status</mat-label>
        <mat-select  formControlName="complaintStatus" multiple="false">
          <mat-option *ngFor="let status of complaintStatusList; let i = index" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!updateComplaintStatusForm.valid">Update</button>

  </form>

</div>
<!--<div class="container-fluid">
  <mat-card class="m-5 shadow" style="height: 80%">
    <mat-card-title>Update Status</mat-card-title>
  -- form [formGroup]="updateComplaintStatusForm" (ngSubmit)="onSubmit()" #myForm="ngForm"--
    <form [formGroup]="updateComplaintStatusForm" (ngSubmit)="saveChangesDialog()" class="mat-typography" #myForm="ngForm">

   <div class="row">

      <mat-form-field class="col-auto" appearance="outline">
        <mat-label>Complaint ID</mat-label>
        <input type="text" matInput formControlName="complaintID"  [required]="true" placeholder="Enter a valied Complaint ID">
      </mat-form-field>

      <mat-form-field class="col-auto" appearance="outline">
        <mat-label>Sub Complaint ID</mat-label>
        <input type="text" matInput formControlName="subComplaintID"  [required]="true" placeholder="Enter a valied Sub Complaint ID">
      </mat-form-field>

    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-auto">
        <mat-label>Status</mat-label>
        <mat-select  formControlName="complaintStatus" multiple="false">
          <mat-option *ngFor="let status of complaintStatusList; let i = index" [value]="status">{{status}}</mat-option>
        </mat-select>
        <mat-error>Please select a status</mat-error>
      </mat-form-field>
    </div>

    <button class="btn btn-primary" type="button" [hidden]="!complaintIDChild && !subComplaintIDChild" (click)="onCancelEdit()">Cancel</button>
    <span></span>
    <button class="btn btn-primary" type="submit" [disabled]="!updateComplaintStatusForm.valid">Update</button>

  </form>
  </mat-card>
</div>
-->


