<br>
<br>
<div class="new" align="center">
  <router-outlet></router-outlet>
  <hr>
</div>

  <mat-card class="m-5 shadow" style="height: 50%">
  <table mat-table [dataSource]="dataSource1" class="w-100">

    <!-- Complain ID column -->
    <ng-container matColumnDef="complainID">
      <th mat-header-cell *matHeaderCellDef> Complain ID </th>
      <td mat-cell *matCellDef="let element"> {{element.complainID}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>



    <!-- SubmittedDate Column -->
    <ng-container matColumnDef="submittedDate">
      <th mat-header-cell *matHeaderCellDef> Submitted Date </th>
      <td mat-cell *matCellDef="let element"> {{element.submittedDate}} </td>
    </ng-container>

    <!--  test Column-->
    <ng-container matColumnDef="lastDateOfPending">
      <th mat-header-cell *matHeaderCellDef> Deadline Date </th>
      <td mat-cell *matCellDef="let element">{{element.lastDateOfPending}}</td>
    </ng-container>

    <!--  Action Column-->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><button (click)="getAlert()">get Action</button>  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>




  </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>















