<div [hidden]="hidd">
  <div class="new" align="center">
    <h4><b>Select the new Account Coordinator product ID-{{prodId}}</b></h4>

    <mat-form-field>
      <mat-label>New Account Coordinator</mat-label>
      <mat-select [(ngModel)]="selectedValue">
        <mat-option *ngFor="let food of accdata" [value]="food" [disabled]="food.firstName == oldName">
          {{food.firstName}} {{food.lastName}}
        </mat-option>
      </mat-select>
    </mat-form-field>



    <section>
      <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="giveAlertnew()">Save</button>

        <button mat-raised-button color="accent" style="margin-left: 50px" (click)="cancel()">Cancel</button>
      </div>
    </section>
    <hr>
  </div>
</div>

<div>
    <mat-tab-group animationDuration="500ms">
      <mat-tab label="Overdue Complaints">
        <mat-card class="m-5 shadow" style="height: 80%">
          <div>
            <table mat-table [dataSource]="dataSource1" matSort class="mat-elevation-z8 w-100">


              <!-- Product ID column -->
              <ng-container matColumnDef="productID">
                <th mat-header-cell *matHeaderCellDef> Product ID </th>
                <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
              </ng-container>

              <!-- Complain ID column -->
              <ng-container matColumnDef="complaintID">
                <th mat-header-cell *matHeaderCellDef> Complain ID </th>
                <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
              </ng-container>


              <!-- Description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef style="width: 30%"> Description </th>
                <td mat-cell *matCellDef="let element"> {{ (element.description+'').toString().substr(0, 46)+'...' }} </td>
              </ng-container>



              <!-- SubmittedDate Column -->
              <ng-container matColumnDef="submittedDate">
                <th mat-header-cell *matHeaderCellDef> Submitted Date </th>
                <td mat-cell *matCellDef="let element"> {{element.submittedDate | date}} </td>
              </ng-container>

              <ng-container matColumnDef="lastDateOfPending">
                <th mat-header-cell *matHeaderCellDef> Deadline Date </th>
                <td mat-cell *matCellDef="let element">{{element.lastDateOfPending | date}}</td>
              </ng-container>

              <!--  test Column-->
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> Account Coordinator Name </th>
                <td mat-cell *matCellDef="let element">{{element.firstName}} {{element.lastName}}</td>
              </ng-container>

              <!--  test Column-->
              <ng-container matColumnDef="userEmail">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"></td>
              </ng-container>


              <!--  test Column-->
              <ng-container matColumnDef="accountCoordinatorID">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"></td>
              </ng-container>

              <!--  Action Column-->
              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click)="getAlert(element)" [disabled]="!hidd">get Action</button>  </td>
              </ng-container>

              <!--  History Column-->
              <ng-container matColumnDef="history">
                <th mat-header-cell *matHeaderCellDef>History</th>
                <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="getproductID(element.productID)" >History</button>  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </mat-card>
      </mat-tab>



  //.....................................................................

  <mat-tab label="History">
    <mat-card class="m-5 shadow" style="height: 80%">


      <div>
        <mat-card-title><u>Search Results for Product ID - {{filterValue}}</u></mat-card-title>
      </div>
      <br>

    <div>
      <table mat-table [dataSource]="dataSourcehistory" matSort class="mat-elevation-z8 w-100">

        <ng-container matColumnDef="submittedtime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Submitted Time</th>
          <td mat-cell *matCellDef="let element">{{element.submittedtime| date}} </td>
        </ng-container>


        <ng-container matColumnDef="preAcName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Previous AccountCoordinator</th>
          <td mat-cell *matCellDef="let element"> {{element.preAcName}} </td>
        </ng-container>


        <ng-container matColumnDef="newAcName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>New AccountCoordinator </th>
          <td mat-cell *matCellDef="let element"> {{element.newAcName}} </td>
        </ng-container>


        <ng-container matColumnDef="exAcName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ex. AccountCoordinator </th>
          <td mat-cell *matCellDef="let element"> {{element.exAcName}} </td>
        </ng-container>


        <ng-container matColumnDef="doneBy">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Person </th>
          <td mat-cell *matCellDef="let element"> {{element.doneBy}} </td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
          <td mat-cell *matCellDef="let element"> {{element.action}} </td>
        </ng-container>

        <!-------------------------------------------------------------------------------------------->
        <tr mat-header-row *matHeaderRowDef="displayedColumnshistory"></tr>
        <tr mat-row class="mat-row2" *matRowDef="let row; columns: displayedColumnshistory;"></tr>

      </table>
    </div>
      <button mat-raised-button color="primary" (click)="changetab(0)">back</button>
  </mat-card>


  </mat-tab>
</mat-tab-group>

</div>









