
<mat-card style="height: 662px;  margin-top: 10px; margin-left: 50px; margin-right: 50px; background-color: #bbf18f">
  <mat-card-content>
    <mat-grid-list cols="5" rows="10" rowHeight="63px">
      <mat-grid-tile [colspan]="1" [rowspan]="10" style="background-color: #27ba47">

      </mat-grid-tile>

      <mat-grid-tile [colspan]="4" [rowspan]="1" style="background-color: #74ba22">

      </mat-grid-tile>



      <mat-grid-tile [colspan]="4" [rowspan]="8" style="background-color: #91ba84">
        <div class="msg_history">
          <li class="message" *ngFor="let message of dataSourcemsge">
            <div
              *ngIf="
                  message.sender == 'projectManager';
                  then incoming_msg;
                  else outgoing_msg
                "
            ></div>
            <ng-template #incoming_msg>
              <div class="incoming_msg">
                <div class="incoming_msg_img">
                  <img
                    src="https://i.imgur.com/k2PZLZa.png"
                    alt="User avatar"
                  />
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{ message.msg }}</p>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #outgoing_msg>
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>{{ message.msg }}</p>
                </div>
                </div>
            </ng-template>
          </li>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="4" [rowspan]="1" style="background-color: #74ba22">
        <div class="type_msg">
          <form class="input_msg_write" [formGroup]="msgForm" (ngSubmit)="onMsg()">
            <input
              formControlName="massege"
              type="text"
              class="write_msg"
            >
            <button mat-raised-button class="msg_send_btn"  type="submit">send
            </button>
          </form>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>

