<h2 mat-dialog-title>{{data.title}}</h2>
<h3 mat-dialog-title>Username : {{data.userEmail}}</h3>
<div [hidden]="otpSent">
  <mat-dialog-content class="mat-typography h-auto" style="display: contents">

    <div>
      <p>
        {{data.descriptionLine1}} <br> {{data.descriptionLine2}}
      </p>
    </div>
    <div>
        <!--------------------------------------------------------------------------------------------------------------->
        <mat-dialog-actions align="end">
          <div style="display: flex">
            <button mat-button mat-dialog-close type="button" [hidden]="false" >Cancel</button>
            <button mat-button cdkFocusInitial type="button" (click)="sendOtpToEmailFromServerSide()" >Next</button>
          </div>
        </mat-dialog-actions>
    </div>

  </mat-dialog-content>

</div>

<div [hidden]="!otpSent">
  <mat-dialog-content class="mat-typography h-auto" style="display: contents">

    <div>
      <form [formGroup]="forgetPasswordForm2" (ngSubmit)="sendOtpAndNewPasswordToServiceFiles()" class="mat-typography"
            #myForm2="ngForm" style="display: contents">

        <!-------------------------------------------------------------------------------------------------------------->
        <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>OTP</mat-label>
            <input type="text" matInput formControlName="otp" placeholder="12345678">
            <mat-error *ngIf="otp.touched && otp.errors?.required">This field is required</mat-error>
            <mat-error *ngIf="otp.touched && !otp.errors?.required && otp.invalid">OTP have 8 digits</mat-error>
          </mat-form-field>
        </div>
        <!-------------------------------------------------------------------------------------------------------------->
        <div class="row" formGroupName="passwordGroup">
          <mat-form-field class="col-6" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="New password" formControlName="password" required
                   [type]="hidePassword ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="forgetPasswordForm2.hasError('required', 'passwordGroup')">Please enter your new
              password
            </mat-error>
            <mat-error *ngIf="forgetPasswordForm2.hasError('minlength', 'passwordGroup.password')">password needs at least 6 characters</mat-error>

          </mat-form-field>
          <!------------------------------------------------------------------------->
          <mat-form-field class="col-6" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm new password" formControlName="confirmPassword"
                   [errorStateMatcher]="matcher" [type]="hideConfirmPassword ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="forgetPasswordForm2.hasError('notSame','passwordGroup')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
        <!--------------------------------------------------------------------------------------------------------------->
        <mat-dialog-actions align="end">
          <div style="display: flex">
            <button mat-button [mat-dialog-close]="false" type="button" [hidden]="false" (click)="onCancel()">Cancel
            </button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial type="submit"
                    [disabled]="!forgetPasswordForm2.valid">Done
            </button>
          </div>
        </mat-dialog-actions>

      </form>
    </div>

  </mat-dialog-content>
</div>

