<div class="container-fluid">

  <!--  <button class="btn btn-secondary" type="button" [routerLink]="['/' + '../login']">Log In</button>-->

  <h1 align="center" style="">Sign Up</h1>

  <form [formGroup]="userRegistrationForm" (ngSubmit)="onSubmit()">

    <div class="row">

      <mat-form-field class="col-6" appearance="outline">
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName" placeholder="Nimal">
        <mat-error *ngIf="firstName.touched && firstName.errors?.required">This field is required</mat-error>
        <mat-error *ngIf="firstName.touched && !firstName.errors?.required && firstName.invalid">Invalid Input
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName" placeholder="Nimal">
        <mat-error *ngIf="lastName.touched && lastName.errors?.required">This field is required</mat-error>
        <mat-error *ngIf="lastName.touched && !lastName.errors?.required && lastName.invalid">Invalid Input</mat-error>
      </mat-form-field>

    </div>


    <div class="row">

      <mat-form-field class="col-12" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" placeholder="abc@d.com">
        <mat-error *ngIf="email.touched && email.errors?.required">This field is required</mat-error>
        <mat-error *ngIf="email.touched && !email.errors?.required && email.errors?.email">Invalid Email</mat-error>
      </mat-form-field>

    </div>

    <div class="row">

      <mat-form-field class="col-6" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>

      <mat-form-field class="col-6 mb-0" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
      </mat-form-field>

      <span class="small text-danger" *ngIf="userRegistrationForm.errors?.misMatch">Passwords do not match</span>


      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" multiple >
          <mat-option *ngFor="let role of roleList; let i = index" [value]="i">{{role}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!userRegistrationForm.valid">Sign Up</button>

  </form>

</div>

