<h1>signup componrnt</h1>

<div class="container-fluid">
  <h2 align="center">Sign up</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    {{registrationForm.value | json}}

    <div class="form-group">
      <label>Username</label>
      <input formControlName="userName"
             type="text"
             class="form-control"
             [class.is-invalid]="registrationForm.get('userName').invalid &&
                                   registrationForm.get('userName').touched">
      <!--      <small class="text-danger"-->
      <!--             [class.d-none]="registrationForm.get('userName').valid ||-->
      <!--                             registrationForm.get('userName').untouched"  >-->
      <!--      Username is required-->
      <!--      </small>-->
      <!--  Also i create a getter method in component.ts file. then we can use that
            getter's name(userName) instead of this long one.(registrationForm.get('userName'))-->

      <div *ngIf="userName.invalid && userName.touched">
        <small *ngIf="userName.errors?.required" class="text-danger">Username is required</small>
        <small *ngIf="userName.errors?.minlength" class="text-danger">Username must be at least 3 characters</small>
        <small *ngIf="userName.errors?.forbiddenName" class="text-danger">{{userName.errors?.forbiddenName.value}}
          Username not allowed</small>
      </div>
    </div>

    <div>
      <div class="form-group">
        <label>Email</label>
        <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmails()">Add e-mail</button>
        <input type="text"
               formControlName="email"
               class="form-control"
               [class.is-invalid]="email.invalid && email.touched">
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
        <!--        <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">-->
        <!--          <input type="text" class="form-control my-1" [formControlName]="i">-->
        <!--        </div>-->
        <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i = index">
          <div [formGroupName]="i">
            <input type="text" class="form-control my-1 col-3" formControlName="alternateEmail">
            <input type="text" class="form-control my-1 col-3" formControlName="phone">
          </div>
        </div>

      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input"
             formControlName="subscribe"
             type="checkbox">
      <label class="form-check-label">Send me promotional offers</label>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input formControlName="password"
             type="password"
             class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input formControlName="confirmPassword"
             type="password"
             class="form-control"
             [class.is-invalid]="registrationForm.errors?.misMatch">
      <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Password do not match</small>
    </div>

    <div formGroupName="address" >
      <div class="form-group">
        <label>City</label>
        <input formControlName="city"
               type="text"
               class="form-control">
      </div>

      <div class="form-group">
        <label>State</label>
        <input formControlName="state"
               type="text"
               class="form-control">
      </div>

      <div class="form-group">
        <label>Postal Code</label>
        <input formControlName="postalCode"
               type="text"
               class="form-control">
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!registrationForm.valid">Register</button>
    <button class="btn btn-secondary" type="button" (click)="loadApiData()">Load API Data</button>
    {{registrationForm.valid}}
  </form>
</div>

