<mat-card class="m-5 shadow" style="height: 80%">
  <div>

    <mat-form-field class="w-75 m-3">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Ex.first user" (keyup)="applyFilter($event)">
    </mat-form-field>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 w-100">

        <!-- complaint ID Column -->
        <ng-container matColumnDef="complaintID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Complaint-ID</th>
          <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
        </ng-container>

        <!-- satisfaction level Column -->
        <ng-container matColumnDef="satisfaction">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Satisfied-level</th>
          <td mat-cell *matCellDef="let element"> {{element.satisfaction}} </td>
        </ng-container>

        <!-- feedback description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Feedback</th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="redirectToDetails(element.complaintID)">
              <mat-icon class="mat-18">reorder</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Update Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> Update</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="redirectToUpdate(element.complaintID)">
              <mat-icon class="mat-18">system_update</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Delete</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="redirectToDelete(element.complaintID)">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <!-------------------------------------------------------------------------------------------->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [length]="5" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>

  </div>
</mat-card>
