.icon-display {
  transform: scale(0.2);
  border-color: rgba(18,162,67,0.96);
  background-color: #1ec952;
  -webkit-text-fill-color: #1ec952;
}


.icon-display1 {
  transform: scale(0.4);
  border-color: rgba(18,162,67,0.96);
  background-color: #1ec952;
  -webkit-text-fill-color: #1ec952;
}

.text-inside-grid {
  
}

#divChart3{
  display: block;
  padding-top: 20px;
  width: 350px;
  height: 200px;
  background-color: #e36120;
}

#divChart4{
  display: block;
  padding-top: 20px;
  width: 350px;
  height: 200px;
  background-color: #358731;
}

#divChart5{
  display: block;
  padding-top: 20px;
  padding-right: 10%;
  width: 450px;
  height: 150px;
}

#divChart1{
  display: block;
  padding-top: 20px;
  padding-right: 43px;
  width: 400px;
  height: 150px;
  border-color: black;
}

.class1{
  text-align: center;
  font-size: 45px;
}

.classboxes{
  width: 250px;
  height: 100px;
  padding-top: 25px;
}

.words{
  text-align: center;
}





