
<mat-grid-list cols="5" rows="7" rowHeight="120px" class="mat-typography">
  <mat-grid-tile [colspan]=1 [rowspan]=1 >
    <mat-card  style="background-color: #e36120">
      <mat-card-title class="class1" *ngFor="let full of dataSourceUsers1">{{full.count}}</mat-card-title>
      <h4 class="words">Total Users</h4>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]=1 [rowspan]=1 >
    <mat-card  style="background-color: #358731">
      <mat-card-title class="class1" *ngFor="let full of dataSourceActive">{{full.count}}</mat-card-title>
      <h4 class="words">Active Users</h4>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]=1 [rowspan]=1 >
      <mat-card  style="background-color: #fc0341">
        <mat-card-title class="class1" >{{alllll}}</mat-card-title>
        <h4 class="words">Total Complaints</h4>
      </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-card  style="background-color: #20b5e3">
        <mat-card-title class="class1" >{{close}}</mat-card-title>
        <h4 class="words">Closed Complaints</h4>
      </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]=1 [rowspan]=7 >
    <mat-drawer mode="side" opened style="width: 100%" class="h-100">
      <h2 style="margin-top: 5%; margin-left: 2%">Active Users<mat-icon class="icon-display1" style="border-radius: 50%">brightness_1</mat-icon></h2>

      <mat-list *ngFor="let active of dataSourceUsers">
        <mat-list-item >
          <mat-icon mat-list-icon class="icon-display">brightness_1</mat-icon>
          {{active.firstName}} {{active.lastName}}
        </mat-list-item>
      </mat-list>
    </mat-drawer>
  </mat-grid-tile>

  <mat-grid-tile [colspan]=2 [rowspan]=3 >
    <mat-card style="margin-right: 5%; width: 95%; margin-left: 5%">

      <div id="divChart4">
        <canvas id="myChart4"></canvas>
      </div>
<br>
      <mat-card-title>Users</mat-card-title>
      <mat-card-subtitle>Change of the total Users(Month wise)</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]=2 [rowspan]=3 >

    <mat-card style="margin-right: 5%; width: 95%; margin-left: 5%">
      <div id="divChart3">
        <canvas id="myChart3"></canvas>
      </div>
      <br>
      <mat-card-title>Complaints</mat-card-title>
      <mat-card-subtitle>Number of Complaints(Month wise)</mat-card-subtitle>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile [colspan]=2 [rowspan]=3>

    <mat-card style="margin-right: 5%; height: 360px; width: 90%; margin-left: 5%">


      <div id="divChart1">
        <canvas id="myChart1"></canvas>
      </div>
      <mat-card-title style="margin-top: 130px">Status of all complaints</mat-card-title>
      <mat-card-subtitle>Whether complaint is still processing or not..</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>



  <mat-grid-tile [colspan]=2 [rowspan]=3 >
    <mat-card style="margin-right: 5%; height: 360px; width: 90%; margin-left: 5%">
      <div id="divChart5">
        <canvas id="myChart5"></canvas>
      </div>
      <mat-card-title style="margin-top: 130px">Feedback</mat-card-title>
      <mat-card-subtitle>feedback given by customers</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



