
<mat-grid-list cols="7" rowHeight="1:3.5">
  <mat-grid-tile [colspan]=6 [rowspan]=1>

  </mat-grid-tile>
  <mat-grid-tile [colspan]=1 [rowspan]=1>
    <mat-card class="text-inside-grid">
      <div mat-subheader>Active Users</div>
    <mat-list *ngFor="let active of dataSourceUsers">
      <mat-list-item >
        <mat-icon mat-list-icon class="icon-display">brightness_1</mat-icon>
        {{active.firstName}} {{active.lastName}}
      </mat-list-item>
    </mat-list>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



