<h2 mat-dialog-title style="margin-bottom: 0">{{data.title}}</h2>
<h3 mat-dialog-title [hidden]="!data.subtitle">{{data.subtitle}} </h3>
<mat-dialog-content class="mat-typography">

  <img [hidden]="data.image" style="width: 20%; margin-left: 2%; margin-bottom: 2%; border-radius: 50%;" [src]="data.image" />

  <p> {{data.message +'\''+ data.name +'\''}} <br> {{data.message2}}</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">{{data.button1}}</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{data.button2}}</button>
</mat-dialog-actions>
