<!--<mat-tab-group animationDuration="1000ms" [selectedIndex]="tabIndex">

  <mat-tab label="Task Details">
    <mat-grid-list cols="2" rowHeight="2:2">

      <mat-grid-tile>
        <div>
          <form [formGroup]="CreateTaskForm" (ngSubmit)="saveChangesDialog()">

            <div class="row">
              -----------------------------------------------------------------------------------------------------
              <mat-form-field class="col-6" appearance="outline">
                <mat-label>Task ID</mat-label>
                <input [readonly]="!edit" type="text" matInput formControlName="TaskID" [required]="edit">
                <mat-error [hidden]="!edit" *ngIf="TaskID.touched && TaskID.errors?.required">You must enter a value</mat-error>
                <mat-error  [hidden]="!edit"*ngIf="TaskID.touched && !TaskID.errors?.required && !TaskID.errors?.minLength">Enter at least 3 letters</mat-error>
              </mat-form-field>
            </div>
              -----------------------------------------------------------------------
              <div class="row">
              <mat-form-field  class="col-6" appearance="outline">
                <mat-label>Complaint ID</mat-label>
                <input [readonly]="!edit" type="text" matInput formControlName="ComplaintID" [required]="edit">
                <mat-error [hidden]="!edit" *ngIf="ComplaintID.touched && ComplaintID.errors?.required">You must enter a value</mat-error>
                <mat-error  [hidden]="!edit"*ngIf="ComplaintID.touched && !ComplaintID.errors?.required && !ComplaintID.errors?.minLength">Enter at least 3 letters</mat-error>
              </mat-form-field>
                <mat-form-field  class="col-6" appearance="outline">
                  <mat-label>Sub Complaint ID</mat-label>
                  <input [readonly]="!edit" type="text" matInput formControlName="SubComplaintID" [required]="edit">
                  <mat-error [hidden]="!edit" *ngIf="SubComplaintID.touched && SubComplaintID.errors?.required">You must enter a value</mat-error>
                  <mat-error  [hidden]="!edit"*ngIf="SubComplaintID.touched && !SubComplaintID.errors?.required && !SubComplaintID.errors?.minLength">Enter at least 3 letters</mat-error>
                </mat-form-field>

            </div>

            <div class="row">
              <mat-form-field class="col-6" appearance="outline">
                <mat-label>Task Description</mat-label>
                <input [readonly]="!edit" type="text" matInput formControlName="TaskDescription" [required]="edit">
                <mat-error [hidden]="!edit" *ngIf="TaskDescription.touched && TaskDescription.errors?.required">You must enter a value</mat-error>
                <mat-error  [hidden]="!edit"*ngIf="TaskDescription.touched && !TaskDescription.errors?.required && !TaskDescription.errors?.minLength">Enter at least 3 letters</mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col-6" appearance="outline">
                <mat-label>Assigned Date</mat-label>
                <input [readonly]="!edit" type="date" matInput formControlName="AssignedDate" [required]="edit">
                <mat-error [hidden]="!edit" *ngIf="AssignedDate.touched && AssignedDate.errors?.required">You must enter a value</mat-error>
                <mat-error  [hidden]="!edit"*ngIf="AssignedDate.touched && !AssignedDate.errors?.required && !AssignedDate.errors?.minLength">Enter at least 3 letters</mat-error>
              </mat-form-field>

              <mat-form-field class="col-6" appearance="outline">
                <mat-label>Assigned Date</mat-label>
                <input [readonly]="!edit" type="date" matInput formControlName="Deadline" [required]="edit">
                <mat-error [hidden]="!edit" *ngIf="Deadline.touched && Deadline.errors?.required">You must enter a value</mat-error>
                <mat-error  [hidden]="!edit"*ngIf="Deadline.touched && !Deadline.errors?.required && !Deadline.errors?.minLength">Enter at least 3 letters</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="col-12" >
                <mat-label>Status</mat-label>
                <mat-select [disabled]="!edit" formControlName="roles" multiple="true" (valueChange)="toSelectedStatus($event)" >
                  <mat-option *ngFor="let status of StatusList; let i = index" [value]="i" >{{status}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field  class="col-12" appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input [readonly]="!edit" type="text" matInput formControlName="contactNumber" placeholder="07*-*******">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col-12" appearance="outline">
                <mat-label>Developer Email</mat-label>
                <input [readonly]="!edit" matInput placeholder="pat@example.com" [formControl]="email" [required]="edit">
                <mat-error *ngIf="email.touched && email.errors?.required">You must enter a value</mat-error>
                <mat-error *ngIf="email.touched && !email.errors?.required && email.errors?.email">Not a valid email</mat-error>
              </mat-form-field>
            </div>


            <button class="btn btn-primary" type="button" [hidden]="edit" (click)="edit = !edit">Edit Details</button>
            <button class="btn btn-primary" type="button" [hidden]="!edit" (click)="whenCancelEdit()">Cancel</button>
            <span></span>
            <button class="btn btn-primary" style="float: right" type="submit" [hidden]="!CreateTaskForm.valid || !haveChanges">Save</button>

          </form>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Contact Developer" >

  </mat-tab>

</mat-tab-group>

-->
