<mat-card style="padding: 0!important; margin-left: 1%; margin-right: 1%">
  <mat-card-header class="pt-3 pl-2">
    <mat-card-title >Create New Product</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <hr>
    <div class="container-fluid">

      <form [formGroup]="productRegistrationForm" (ngSubmit)="onSubmit()" #myForm="ngForm">

        <div class="row">

          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Product Name</mat-label>
            <input type="text" matInput formControlName="productName" placeholder="Product Name">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Product Category</mat-label>
            <input type="text" matInput formControlName="productCategory" placeholder="Product Category">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>-Select Customer-</mat-label>
            <mat-select formControlName="customerEmail" multiple="false" >
              <mat-option *ngFor="let customer of customerList; let i = index" [value]="customer.userEmail">
               {{customer.firstName+ ' ' + customer.lastName }} <span style="font-size: smaller;">{{' ( '+customer.userEmail+' )'}} </span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>-Select Project Manager-</mat-label>
            <mat-select formControlName="projectManagerEmail" multiple="false" >
              <mat-option *ngFor="let projectManager of projectManagerList; let i = index" [value]="projectManager.userEmail">
                {{projectManager.firstName+ ' ' + projectManager.lastName }} <span style="font-size: smaller;">{{' ( '+projectManager.userEmail+' )'}} </span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>-Select Account Coordinator-</mat-label>
            <mat-select formControlName="accountCoordinatorEmail" multiple="false" >
              <mat-option *ngFor="let accountCoordinator of accountCoordinatorList; let i = index" [value]="accountCoordinator.userEmail">
                {{accountCoordinator.firstName+ ' ' + accountCoordinator.lastName }} <span style="font-size: smaller;">{{' ( '+accountCoordinator.userEmail+' )'}} </span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>-Select Developers-</mat-label>
            <mat-select formControlName="developers" multiple="true" >
              <mat-option *ngFor="let developer of developerList; let i = index" [value]="developer.userID">
                {{developer.firstName+ ' ' + developer.lastName }} <span style="font-size: smaller;">{{' ( '+developer.userEmail+' )'}} </span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div style="display: flex">
<!--          <button class="btn btn-primary" type="button" [hidden]="false" (click)="onCancel()">Cancel</button>-->
          <button class="btn btn-primary" style=" margin-bottom: 14px; margin-left: 91%; width: 9%;" type="submit" [disabled]="!productRegistrationForm.valid">Register</button>
        </div>
      </form>

    </div>
  </mat-card-content>
</mat-card>



