<mat-card style="padding: 0!important; margin-left: 1%; margin-right: 1%">
  <mat-card-header class="pt-3 pl-2">
    <mat-card-title >Create New Product</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <hr>
    <div class="container-fluid">

      <form [formGroup]="productRegistrationForm" (ngSubmit)="onSubmit()" #myForm="ngForm">

        <div class="row">

          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Product Name</mat-label>
            <input type="text" matInput formControlName="productName" placeholder="Product Name">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Product Category</mat-label>
            <input type="text" matInput formControlName="productCategory" placeholder="Product Category">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Customer Email</mat-label>
            <input type="text" matInput formControlName="customerEmail" placeholder="user@gmail.com">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Account-Coordinator Email</mat-label>
            <input type="text" matInput formControlName="accountCoordinatorEmail" placeholder="user@gmail.com">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Project-Manager Email</mat-label>
            <input type="text" matInput formControlName="projectManagerEmail" placeholder="user@gmail.com">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>Developer</mat-label>
            <mat-select formControlName="developers" multiple="true" (valueChange)="toSelectedDevelopers($event)" >
              <mat-option *ngFor="let developer of developerList; let i = index" [value]="developer.userID">{{developer.userEmail}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div style="display: flex">
<!--          <button class="btn btn-primary" type="button" [hidden]="false" (click)="onCancel()">Cancel</button>-->
          <button class="btn btn-primary" style=" margin-bottom: 14px; margin-left: 91%; width: 9%;" type="submit" [disabled]="!productRegistrationForm.valid">Register</button>
        </div>
      </form>

    </div>
  </mat-card-content>
</mat-card>



