
<!-----------------------------This component is for testing purposes- Currently not Related to the the system-------------------------------------------->

<mat-tab-group animationDuration="1000ms" [selectedIndex]="tabIndex">
  <mat-tab label="General Details">
    <h2>Under Implementation</h2>

  </mat-tab>
  <!-- Under Implementation -->
  <mat-tab label="Status">
    <form [formGroup]="updateStatusForm" (ngSubmit)="saveChangesDialog()" class="mat-typography">

      <div class="row">
        <mat-form-field appearance="outline" class="col-auto">
          <mat-label>Status</mat-label>
          <mat-select [disabled]="!edit" formControlName="Status" multiple="false">
            <mat-option *ngFor="let status of statusList; let i = index" [value]="status">{{status}}</mat-option>
          </mat-select>
          <mat-error>Please select Status</mat-error>
        </mat-form-field>
      </div>
      <button class="btn btn-primary" type="button" [hidden]="edit" (click)="edit = !edit">Update Status</button>
      <button class="btn btn-primary" type="button" [hidden]="!edit" (click)="onCancelEdit()">Cancel</button>
      <span></span>
      <button class="btn btn-primary" style="float: right" type="submit"
              [hidden]="!updateStatusForm.valid || !haveChanges">Save
      </button>

    </form>

  </mat-tab>
</mat-tab-group>

<button class="btn btn-primary" (click)="backToAllComplaints()" [hidden]="!accoorcomplaintService.isComplaintProfileMode">
  <mat-icon>arrow_back_ios</mat-icon>
  Complaints
</button>


