<mat-drawer-container style="min-height: 100%">
  <mat-drawer mode="side" [opened]="homeService.drawer" style="width: 250px">
    <mat-selection-list [multiple]="false">

      <mat-list-option routerLink="./dashboard"
                       [selected]="activeRoute === 'DashboardCustomerComponent'"
                       [class.selected]="activeRoute === 'DashboardCustomerComponent'">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <div mat-line>Dashboard</div>
      </mat-list-option>

      <mat-list-option routerLink="./lodge-new-complaint"
                       [selected]="activeRoute === 'AddNewComplaintComponent'"
                       [class.selected]="activeRoute === 'AddNewComplaintComponent'"
                       (click)="addNewComplaintService.changeIsLodgeComplaintModeSubjectBooleanValue(false)">
        <mat-icon mat-list-icon>add</mat-icon>
        <div mat-line>Add new Complaint</div>
      </mat-list-option>

      <mat-list-option routerLink="./complaints"
                       [selected]="activeRoute === 'ComplaintsCustomerComponent'"
                       [class.selected]="activeRoute === 'ComplaintsCustomerComponent'">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <div mat-line>Complaints</div>
      </mat-list-option>

      <div class="list-group list-group-flush rounded-0 ml-4 sub-menu"
           [style.height]="activeRoute === 'ComplaintsCustomerComponent' ? (50 * 4) + 'px' : 0">

        <a routerLink="./complaints/pending-complaints"
           [ngClass]="childRoute !== 'pending-complaints' ? ['list-group-item', 'list-group-item-action'] : ['list-group-item', 'list-group-item-action', 'active']">
          Pending
        </a>
        <a routerLink="./complaints/in-progress-complaints"
           [ngClass]="childRoute !== 'in-progress-complaints' ? ['list-group-item', 'list-group-item-action'] : ['list-group-item', 'list-group-item-action', 'active']">
          In Progress
        </a>

        <a routerLink="./complaints/completed-complaints"
           [ngClass]="childRoute !== 'completed-complaints' ? ['list-group-item', 'list-group-item-action'] : ['list-group-item', 'list-group-item-action', 'active']">
          Completed
        </a>
        <a routerLink="./complaints/past-complaints"
           [ngClass]="childRoute !== 'past-complaints' ? ['list-group-item', 'list-group-item-action'] : ['list-group-item', 'list-group-item-action', 'active']">
          Closed
        </a>

      </div>

      <mat-list-option routerLink="./purchases"
                       (click)="resetProductContent()"
                       [selected]="activeRoute === 'ProductsCustomerComponent'"
                       [class.selected]="activeRoute === 'ProductsCustomerComponent'">
        <mat-icon mat-list-icon>shopping_cart</mat-icon>
        <div mat-line>Purchases</div>
      </mat-list-option>

    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content class="">

    <router-outlet (activate)="getRoute($event)">
      <!--dashboard-customer,add-new-complaint,complaints-customer,purchases-customer, -->
    </router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
