  <button mat-raised-button color="primary" class="float-right m-1" (click)="createComplaintMode = !createComplaintMode"
        [hidden]="createComplaintMode">
  <mat-icon>add_box</mat-icon>
  new complaint
</button>

<button mat-raised-button color="primary" class="float-right m-1" (click)="createComplaintMode = !createComplaintMode"
        [hidden]="!createComplaintMode">
  <mat-icon>view_list</mat-icon>
  view closed complaints
</button>

<mat-card class="mr-5 ml-5 mt-5 mb-4 shadow">

  <mat-card-title [hidden]="!createComplaintMode">Add new complaint</mat-card-title>
  <mat-card-title [hidden]="createComplaintMode">Past Complaints</mat-card-title>
  <hr>

  <div [hidden]="!createComplaintMode">
    <app-add-new-complaint></app-add-new-complaint>
  </div>

  <div [hidden]="createComplaintMode">
    <!--all complaints table-->
    <div [hidden]="complaintsCustomerService.isComplaintProfileMode">
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.first user" (keyup)="applyFilter($event)">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">

        <!--  The Header is iterate by ngfor loop -->
        <!--        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay1"> // 4 times-->
        <!--          <th mat-header-cell *matHeaderCellDef> {{column}} </th>-->
        <!--          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>-->
        <!--        </ng-container>-->

        <!-- complaintID Column -->
        <ng-container matColumnDef="complaintID">
          <th mat-header-cell *matHeaderCellDef> complaintID</th>
          <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
        </ng-container>

        <!-- subComplaintID Column -->
        <ng-container matColumnDef="subComplaintID">
          <th mat-header-cell *matHeaderCellDef> subComplaintID</th>
          <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> description</th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- submittedDate Column -->
        <ng-container matColumnDef="submittedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> submittedDate</th>
          <td mat-cell *matCellDef="let element"> {{element.submittedDate}} </td>
        </ng-container>

        <!-- productID Column -->
        <ng-container matColumnDef="productID">
          <th mat-header-cell *matHeaderCellDef> productID</th>
          <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
        </ng-container>

        <!-- Details button Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary"
                    (click)="redirectToDetails(element.complaintID,element.subComplaintID)">
              <mat-icon class="mat-18">reorder</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- expand/collapse button Column -->
        <ng-container matColumnDef="subComplaints">
          <th mat-header-cell *matHeaderCellDef> subComplaints</th>
          <td mat-cell *matCellDef="let element">
            <button [hidden]="(element.subComplaints.length==0)" mat-icon-button color="primary"
                    (click)="expandedElement = expandedElement === element ? null : element">
              <mat-icon [hidden]="expandedElement===element" class="mat-18">keyboard_arrow_down</mat-icon>
              <mat-icon [hidden]="expandedElement!==element" class="mat-18">keyboard_arrow_up</mat-icon>
            </button>
            <span [hidden]="!(element.subComplaints.length==0)"><i>No any sub complaint</i></span>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayOuterTable.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <table mat-table [dataSource]="element.subComplaints" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- complaintID Column -->
                <ng-container matColumnDef="complaintID">
                  <th mat-header-cell *matHeaderCellDef> complaintID</th>
                  <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
                </ng-container>

                <!-- subComplaintID Column -->
                <ng-container matColumnDef="subComplaintID">
                  <th mat-header-cell *matHeaderCellDef> subComplaintID</th>
                  <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
                </ng-container>

                <!-- description Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef> description</th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>

                <!-- submittedDate Column -->
                <ng-container matColumnDef="submittedDate">
                  <th mat-header-cell *matHeaderCellDef> submittedDate</th>
                  <td mat-cell *matCellDef="let element"> {{element.submittedDate}} </td>
                </ng-container>

                <!-- productID Column -->
                <ng-container matColumnDef="productID">
                  <th mat-header-cell *matHeaderCellDef> productID</th>
                  <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
                </ng-container>

                <!-- Details button Column -->
                <ng-container matColumnDef="details">
                  <th mat-header-cell *matHeaderCellDef> Details</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary"
                            (click)="redirectToDetails(element.complaintID,element.subComplaintID)">
                      <mat-icon class="mat-18">reorder</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <!--<tr mat-header-row *matHeaderRowDef="columnsToDisplayInnerTable"></tr>-->
                <tr mat-row *matRowDef="let row; columns: columnsToDisplayInnerTable;"></tr>
              </table>
            </div>
          </td>
        </ng-container>

        <!-- 1 row ,5 cells/columns  Header Row(not iterate this<tr> )-->
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayOuterTable"></tr>

        <!--mainComplaint row-->
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayOuterTable;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"></tr>

        <!--sub complaint table row-->
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </div>

    <!--complaint profile-->
    <div [hidden]="!complaintsCustomerService.isComplaintProfileMode">
      <app-complaint-profile [complaintIdChild]="complaintsCustomerService.complaintIdParent"
                             [subComplaintIdChild]="complaintsCustomerService.subComplaintIdParentValue"
                             [requestFrom]="'customer'"></app-complaint-profile>
    </div>

  </div>

</mat-card>
