<div>
<mat-card style="height: 550px; width: 1000px; margin-left: 150px; margin-top: 20px; background-color: #7ED5EA">
  <mat-card-content>
        <div class="msg_history">
          <li class="message" *ngFor="let message of dataSourcemsge">
            <div
              *ngIf="
                  message.sender == 'ceo';
                  then incoming_msg;
                  else outgoing_msg
                "
            >
            </div>
            <ng-template #incoming_msg>
              <div class="incoming_msg">
                <div class="incoming_msg_img">
                  <img
                    src="https://i.imgur.com/k2PZLZa.png"
                    alt="User avatar"
                  />
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <div class="round">
                    <p>{{ message.msg }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #outgoing_msg>
              <div class="outgoing_msg">
              <div class="sent_msg">
              <div class="round ">
                  <p>{{ message.msg }}</p>
                </div>
                </div>
              </div>
            </ng-template>
          </li>
        </div>


</mat-card-content>
</mat-card>
</div>
<div style="margin-top: 20px">
<mat-card style="width: 1000px; margin-left: 150px; background-color: #293adc">

<div class="type_msg">
  <form class="input_msg_write" [formGroup]="msgForm" (ngSubmit)="onMsg()">
    <input
      formControlName="massege"
      type="text"
      class="write_msg"
      style="width: 500px"
      placeholder=""
    >
    <button mat-raised-button color="warn" class="msg_send_btn"  type="submit">send
    </button>
  </form>


</div>
</mat-card>
</div>
