<mat-drawer-container style="min-height:93%">
  <mat-drawer mode="side" [opened]="homeService.drawer" style="width: 200px">
    <mat-selection-list [multiple]="false">

      <mat-list-option routerLink="./dashboard"
                       [selected]="activeRoute === 'DashboardComponent'"
                       [class.selected]="activeRoute === 'DashboardComponent'">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <div mat-line>Dashboard</div>
      </mat-list-option>

      <mat-list-option routerLink="./complaints"
                       [selected]="activeRoute === 'ComplaintsComponent'"
                       [class.selected]="activeRoute === 'ComplaintsComponent'">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <div mat-line>Complaints</div>
      </mat-list-option>

      <mat-list-option routerLink="./users"
                       [selected]="activeRoute === 'UsersComponent'"
                       [class.selected]="activeRoute === 'UsersComponent'">
        <mat-icon mat-list-icon>group</mat-icon>
        <div mat-line>Users</div>
      </mat-list-option>

      <mat-list-option routerLink="./products"
                       [selected]="activeRoute === 'ProductsComponent'"
                       [class.selected]="activeRoute === 'ProductsComponent'">
        <mat-icon mat-list-icon>inventory_2</mat-icon>
        <div mat-line>Products</div>
      </mat-list-option>

      <mat-list-option routerLink="./feedbacks"
                       [selected]="activeRoute === 'FeedbacksComponent'"
                       [class.selected]="activeRoute === 'FeedbacksComponent'">
        <mat-icon mat-list-icon>rate_review</mat-icon>
        <div mat-line>Feedbacks</div>
      </mat-list-option>

      <mat-list-option routerLink="./test"
                       [selected]="activeRoute === 'TestComponent'"
                       [class.selected]="activeRoute === 'TestComponent'">
        <mat-icon mat-list-icon>rate_review</mat-icon>
        <div mat-line>Test</div>
      </mat-list-option>

      <mat-list-option routerLink="./test-sorting"
                       [selected]="activeRoute === 'TestSortingComponent'"
                       [class.selected]="activeRoute === 'TestSortingComponent'">
        <mat-icon mat-list-icon>rate_review</mat-icon>
        <div mat-line>Test-Sorting</div>
      </mat-list-option>

    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content class="">

    <router-outlet (activate)="getRoute($event)">
      <!--dashboard,complaints,users,products,feedbacks,test,test-sorting-->
    </router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
