<mat-drawer-container style="height: 100%!important;">

  <mat-drawer mode="side" [opened]="homeService.drawer" style="width: 250px" class="h-100">
    <mat-selection-list [multiple]="false">

      <mat-list-option routerLink="./dashboard"
                       [selected]="activeRoute === 'DashboardComponent'"
                       [class.selected]="activeRoute === 'DashboardComponent'">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <div mat-line>Dashboard</div>
      </mat-list-option>

      <mat-list-option routerLink="./complaints"
                       [selected]="activeRoute === 'ComplaintsComponent'"
                       [class.selected]="activeRoute === 'ComplaintsComponent'">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <div mat-line>Complaints</div>
      </mat-list-option>

      <mat-list-option routerLink="./users"
                       [selected]="activeRoute === 'UsersComponent'"
                       [class.selected]="activeRoute === 'UsersComponent'">
        <mat-icon mat-list-icon>group</mat-icon>
        <div mat-line>Users</div>
      </mat-list-option>

      <div class="list-group list-group-flush rounded-0 ml-4 sub-menu "
           [hidden]="activeRoute !== 'UsersComponent'">
        <mat-divider></mat-divider>

        <mat-list-option routerLink="./users/all-users"
                         [selected]="childRoute === 'all-users'"
                         [class.selected]="childRoute === 'all-users'">
          <mat-icon mat-list-icon>recent_actors</mat-icon>
          <div mat-line>View Users</div>
        </mat-list-option>

        <mat-list-option routerLink="./users/new-user"
                         [selected]="childRoute === 'new-user'"
                         [class.selected]="childRoute === 'new-user'">
          <mat-icon mat-list-icon>person_add</mat-icon>
          <div mat-line>New User</div>
        </mat-list-option>
      </div>

      <mat-list-option routerLink="./products"
                       [selected]="activeRoute === 'ProductsComponent'"
                       [class.selected]="activeRoute === 'ProductsComponent'">
        <mat-icon mat-list-icon>inventory_2</mat-icon>
        <div mat-line>Products</div>
      </mat-list-option>

      <div class="list-group list-group-flush rounded-0 ml-4 sub-menu "
           [hidden]="activeRoute !== 'ProductsComponent'">
        <mat-divider></mat-divider>

        <mat-list-option routerLink="./products/all-products"
                         [selected]="childRoute === 'all-products'"
                         [class.selected]="childRoute === 'all-products'">
          <mat-icon mat-list-icon>recent_actors</mat-icon>
          <div mat-line>View Users</div>
        </mat-list-option>

        <mat-list-option routerLink="./products/register-product"
                         [selected]="childRoute === 'register-product'"
                         [class.selected]="childRoute === 'register-product'">
          <mat-icon mat-list-icon>person_add</mat-icon>
          <div mat-line>New User</div>
        </mat-list-option>
      </div>
      <mat-list-option routerLink="./feedbacks"
                       [selected]="activeRoute === 'FeedbacksComponent'"
                       [class.selected]="activeRoute === 'FeedbacksComponent'">
        <mat-icon mat-list-icon>rate_review</mat-icon>
        <div mat-line>Feedbacks</div>
      </mat-list-option>

      <mat-list-option routerLink="./test"
                       [selected]="activeRoute === 'TestComponent'"
                       [class.selected]="activeRoute === 'TestComponent'">
        <mat-icon mat-list-icon>rate_review</mat-icon>
        <div mat-line>Test</div>
      </mat-list-option>

    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet (activate)="getRoute($event)">
      <!--dashboard,complaints,users,products,feedbacks,test-->
    </router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
