
li, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.home {
  background: #f6f7fa;
}

#navigation {
  background: #000000;
}

.example-container {
  width: 100%;
  height: 92%;
  margin: 0px;
  border: 0px solid #555;
}

.selected {
  /*background-color: rgb(220, 220, 240);*/
  /*font-weight: bold;*/
  /*color: rgb(100, 60, 180);*/
}

.not-selected {
  background-color: white;
  color: black;
}

