.selected {
  background: #8f7fd5 !important;
  font-weight: bold;
}

.not-selected {
  background-color: white;
  color: black;
}

.sub-menu {
  transition: height 300ms;
  overflow: hidden;
}

.active {
  background-color: #8f7fd5 !important;
}
