<!---------------------------------------------------------------------------------------------------------->
<button mat-raised-button color="primary" class="float-right m-1" (click)="changeMode(accoorcomplaintService.addComplaintMode)"
        [hidden]="accoorcomplaintService.addComplaintMode">
  <mat-icon>input</mat-icon>
  Add New Complaint
</button>

<button mat-raised-button color="primary" class="float-right m-1" (click)="changeMode(accoorcomplaintService.addComplaintMode)"
        [hidden]="!accoorcomplaintService.addComplaintMode">
  <mat-icon>view_list</mat-icon>
  View Complaints
</button>

<!------------------------------------------------------------------------------------------------------------------->

<mat-card class="mr-5 ml-5 mt-5 mb-4 shadow">

  <mat-card-title [hidden]="!accoorcomplaintService.addComplaintMode"></mat-card-title>
  <mat-card-title [hidden]="accoorcomplaintService.addComplaintMode"></mat-card-title>

  <!--Add new complaint-->
  <div [hidden]="!accoorcomplaintService.addComplaintMode">
    <app-add-complaint></app-add-complaint>
  </div>

  <div [hidden]="accoorcomplaintService.addComplaintMode">
    <div [hidden]="accoorcomplaintService.isComplaintProfileMode">

  <mat-tab-group animationDuration="1000ms">

    <!-- Displaying All complaints-->
    <mat-tab label="All">

      <!--Filter-->
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.Comp ID" (keyup)="applyFilterAll($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource1" matSort class="mat-elevation-z8 w-100" >

        <!-- Id Column -->
        <ng-container matColumnDef="complaintID">
          <th mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
        </ng-container>

        <!-- SubId Column -->
        <ng-container matColumnDef="subComplaintID">
          <th mat-header-cell *matHeaderCellDef> Sub_Id</th>
          <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
        </ng-container>

        <!-- ProductID Column-->
        <ng-container matColumnDef="productID">
          <th mat-header-cell *matHeaderCellDef> Product_Id</th>
          <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
        </ng-container>

        <!-- ProductName Column-->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> Product Name</th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

        <!-- Status Column-->
        <ng-container matColumnDef="statusName">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
        </ng-container>

        <!-- SubmittedDate Column-->
        <ng-container matColumnDef="submittedDate">
          <th mat-header-cell *matHeaderCellDef> Submitted Date</th>
          <td mat-cell *matCellDef="let element"> {{element.submittedDate}} </td>
        </ng-container>

        <!-- Details button Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Go To</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="redirectToDetails(element.complaintID,element.subComplaintID)">
              <mat-icon class="mat-18">description</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
      </table>

      <!--To select Number of Data raws per page-->
      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </mat-tab>

    <!-- Displaying Pending complaints-->

    <mat-tab label="Pending">

      <!--Filter-->
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.Comp ID" (keyup)="applyFilterPending($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource3" class="w-100">

      <!-- Id Column -->
      <ng-container matColumnDef="complaintID">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
      </ng-container>

      <!-- SubId Column -->
      <ng-container matColumnDef="subComplaintID">
        <th mat-header-cell *matHeaderCellDef> Sub_Id</th>
        <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
      </ng-container>

      <!-- ProductID Column-->
      <ng-container matColumnDef="productID">
        <th mat-header-cell *matHeaderCellDef> Product_Id</th>
        <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
      </ng-container>
        <!-- ProductName Column-->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> Product Name</th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

        <!-- SubmittedDate Column-->
      <ng-container matColumnDef="submittedDate">
        <th mat-header-cell *matHeaderCellDef> Submitted Date</th>
        <td mat-cell *matCellDef="let element"> {{element.submittedDate}} </td>
      </ng-container>

      <!-- LastPending Column-->
      <ng-container matColumnDef="lastDateOfPending">
        <th mat-header-cell *matHeaderCellDef> DDL for 'Pending'</th>
        <td mat-cell *matCellDef="let element"> {{element.lastDateOfPending}} </td>
      </ng-container>

      <!-- StartedWIP Column-->
      <ng-container matColumnDef="wipStartDate">
        <th mat-header-cell *matHeaderCellDef> WIP Started Date</th>
        <td mat-cell *matCellDef="let element"> {{element.wipStartDate}} </td>
      </ng-container>

      <!-- Finished Column-->
      <ng-container matColumnDef="finishedDate">
        <th mat-header-cell *matHeaderCellDef> Finished Date</th>
        <td mat-cell *matCellDef="let element"> {{element.finishedDate}} </td>
      </ng-container>

        <!-- Details button Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Go To</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="redirectToDetails(element.complaintID,element.subComplaintID)">
              <mat-icon class="mat-18">description</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
      </table>
      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </mat-tab>

    <!-- Displaying In Progress complaints-->

    <mat-tab label="In Progress">

      <!--Filter-->
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.Comp ID" (keyup)="applyFilterInProgress($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource4" class="w-100">

          <!-- Id Column -->
          <ng-container matColumnDef="complaintID">
            <th mat-header-cell *matHeaderCellDef> Id</th>
            <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
          </ng-container>

          <!-- SubId Column -->
          <ng-container matColumnDef="subComplaintID">
            <th mat-header-cell *matHeaderCellDef> Sub_Id</th>
            <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
          </ng-container>

          <!-- ProductID Column-->
          <ng-container matColumnDef="productID">
            <th mat-header-cell *matHeaderCellDef> Product_Id</th>
            <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
          </ng-container>
          <!-- ProductName Column-->
          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef> Product Name</th>
            <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
          </ng-container>

          <!-- SubmittedDate Column-->
          <ng-container matColumnDef="submittedDate">
            <th mat-header-cell *matHeaderCellDef> Submitted Date</th>
            <td mat-cell *matCellDef="let element"> {{element.submittedDate}} </td>
          </ng-container>

          <!-- StartedWIP Column-->
          <ng-container matColumnDef="wipStartDate">
            <th mat-header-cell *matHeaderCellDef> WIP Started Date</th>
            <td mat-cell *matCellDef="let element"> {{element.wipStartDate}} </td>
          </ng-container>

          <!-- Details button Column -->
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef> Go To</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="redirectToDetails(element.complaintID,element.subComplaintID)">
                <mat-icon class="mat-18">description</mat-icon>
              </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
        </table>
      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </mat-tab>

    <!-- Displaying Completed complaints-->

    <mat-tab label="Completed">

      <!--Filter-->
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.Comp ID" (keyup)="applyFilterSolved($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource5" class="w-100">

        <!-- Id Column -->
        <ng-container matColumnDef="complaintID">
          <th mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
        </ng-container>

        <!-- SubId Column -->
        <ng-container matColumnDef="subComplaintID">
          <th mat-header-cell *matHeaderCellDef> Sub_Id</th>
          <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
        </ng-container>

        <!-- ProductID Column-->
        <ng-container matColumnDef="productID">
          <th mat-header-cell *matHeaderCellDef> Product_Id</th>
          <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
        </ng-container>
        <!-- ProductName Column-->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> Product Name</th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

        <!-- SubmittedDate Column-->
        <ng-container matColumnDef="submittedDate">
          <th mat-header-cell *matHeaderCellDef> Submitted Date</th>
          <td mat-cell *matCellDef="let element"> {{element.submittedDate}} </td>
        </ng-container>

        <!-- Finished Column-->
        <ng-container matColumnDef="finishedDate">
          <th mat-header-cell *matHeaderCellDef> Finished Date</th>
          <td mat-cell *matCellDef="let element"> {{element.finishedDate}} </td>
        </ng-container>

        <!-- Details button Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Go To</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="redirectToDetails(element.complaintID,element.subComplaintID)">
              <mat-icon class="mat-18">description</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns5"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns5;"></tr>

      </table>
      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </mat-tab>

    <!-- Displaying Closed complaints-->

    <mat-tab label="Closed">

      <!--Filter-->
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.Comp ID" (keyup)="applyFilterClosed($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource6" matSort class="mat-elevation-z8 w-100" >

        <!-- Id Column -->
        <ng-container matColumnDef="complaintID">
          <th mat-header-cell *matHeaderCellDef> Id</th>
          <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
        </ng-container>

        <!-- SubId Column -->
        <ng-container matColumnDef="subComplaintID">
          <th mat-header-cell *matHeaderCellDef> Sub_Id</th>
          <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
        </ng-container>

        <!-- ProductID Column-->
        <ng-container matColumnDef="productID">
          <th mat-header-cell *matHeaderCellDef> Product_Id</th>
          <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
        </ng-container>
        <!-- ProductName Column-->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> Product Name</th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

        <!-- SubmittedDate Column-->
        <ng-container matColumnDef="submittedDate">
          <th mat-header-cell *matHeaderCellDef> Submitted Date</th>
          <td mat-cell *matCellDef="let element"> {{element.submittedDate}} </td>
        </ng-container>

        <!-- Finished Column-->
        <ng-container matColumnDef="finishedDate">
          <th mat-header-cell *matHeaderCellDef> Finished Date</th>
          <td mat-cell *matCellDef="let element"> {{element.finishedDate}} </td>
        </ng-container>

        <!-- Details button Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Go To</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="redirectToDetails(element.complaintID,element.subComplaintID)">
              <mat-icon class="mat-18">description</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns6"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns6;"></tr>
      </table>
      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </mat-tab>

    <mat-tab label="Update Status">
      <app-update-complaint-status></app-update-complaint-status>

    </mat-tab>

  </mat-tab-group>
  </div>


  <!--complaint profile-->
  <div [hidden]="!accoorcomplaintService.isComplaintProfileMode" >
    <app-accoorcomplaint-profile-current [complaintIDChild] = selectedComplaintID [subComplaintIDChild] = selectedsubComplaintID></app-accoorcomplaint-profile-current>
  </div>

  </div>

</mat-card>

