<mat-card>
  <mat-card-header style="display: block">
    <div class="row ">
      <div class="col-10" style="padding-left: 5%">
        <mat-card-title>Product Details</mat-card-title>
        <mat-card-subtitle *ngIf="PRODUCT_DETAILS_DATA">
          Name: {{ PRODUCT_DETAILS_DATA.productName + '   ID: ' + PRODUCT_DETAILS_DATA.productID}}
        </mat-card-subtitle>
      </div>

      <div class="col-2">
        <button mat-icon-button
                style=" margin-top: -10px"
                (click)="productService.ChangeProductProfileModeBooleanSubjectValue(false)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>

    <div>
      <mat-list *ngIf="!!PRODUCT_DETAILS_DATA">

        <mat-list-item>
          <div class=" w-50">product ID:</div>
          <div class="text-secondary w-50">
            <span *ngIf="!PRODUCT_DETAILS_DATA.productID; else productIDBlock"><i> Not Available</i></span>
            <ng-template #productIDBlock>
                <span> {{ PRODUCT_DETAILS_DATA.productID }}
                  <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class=" w-50">product Name:</div>
          <div class=" text-secondary w-50">
            <span *ngIf="!PRODUCT_DETAILS_DATA.productName; else productNameBlock"><i> Not Available</i></span>
            <ng-template #productNameBlock>
              <span> {{ PRODUCT_DETAILS_DATA.productName }} <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class=" w-50">Category:</div>
          <div class=" text-secondary w-50">
            <span *ngIf="!PRODUCT_DETAILS_DATA.category; else categoryBlock"><i> Not Available</i></span>
            <ng-template #categoryBlock>
              <span> {{ PRODUCT_DETAILS_DATA.category }} <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class=" w-50">Customer Email:</div>
          <div class=" text-secondary w-50">
            <span *ngIf="!PRODUCT_DETAILS_DATA.customerEmail; else customerEmailBlock"><i> Not Available</i></span>
            <ng-template #customerEmailBlock>
              <span> {{ PRODUCT_DETAILS_DATA.customerEmail }} <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class=" w-50">Customer Name:</div>
          <div class=" text-secondary w-50">
            <span *ngIf="!PRODUCT_DETAILS_DATA.customerFirstName; else customerNameBlock"><i> Not Available</i></span>
            <ng-template #customerNameBlock>
                <span> {{ PRODUCT_DETAILS_DATA.customerFirstName + ' ' + PRODUCT_DETAILS_DATA.customerLastName }}
                  <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class=" w-50">Account Coordinator Email:</div>
          <div class=" text-secondary w-50">
            <span *ngIf="!PRODUCT_DETAILS_DATA.accountCoordinatorEmail; else accountCoordinatorEmailBlock"><i> Not Available</i></span>
            <ng-template #accountCoordinatorEmailBlock>
              <span> {{ PRODUCT_DETAILS_DATA.accountCoordinatorEmail }} <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class=" w-50">Account Coordinator Name:</div>
          <div class=" text-secondary w-50">
            <span *ngIf="!PRODUCT_DETAILS_DATA.accountCoordinatorFirstName; else accountCoordinatorNameBlock"><i> Not Available</i></span>
            <ng-template #accountCoordinatorNameBlock>
                <span
                  style="display: inline-block"> {{ PRODUCT_DETAILS_DATA.accountCoordinatorFirstName + ' ' + PRODUCT_DETAILS_DATA.accountCoordinatorLastName }}
                </span>
            </ng-template>
          </div>
        </mat-list-item>
        <br/>

        <mat-list-item>
          <div class=" w-50">Project Manager Email:</div>
          <div class=" text-secondary w-50">
              <span
                *ngIf="!PRODUCT_DETAILS_DATA.projectManagerEmail; else projectManagerEmailBlock"><i> Not Available</i></span>
            <ng-template #projectManagerEmailBlock>
              <span> {{ PRODUCT_DETAILS_DATA.projectManagerEmail }} <br/></span>
              <div [hidden]="!isHiddenPm">
                <span>Not Available</span>
              </div>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class=" w-50">Project Manager Name:</div>
          <div class=" text-secondary w-50">
            <span *ngIf="!PRODUCT_DETAILS_DATA.projectManagerFirstName; else projectManagerBlock"><i> Not Available</i></span>
            <ng-template #projectManagerBlock>
                <span
                  style="display: inline-block"> {{ PRODUCT_DETAILS_DATA.projectManagerFirstName + ' ' + PRODUCT_DETAILS_DATA.projectManagerLastName  }}
                  </span>
            </ng-template>
          </div>
        </mat-list-item>
        <br>

        <mat-list-item>
          <div class=" w-50">Created At:</div>
          <div class=" text-secondary w-50">
            <span *ngIf="!PRODUCT_DETAILS_DATA.createdAt; else createdAtBlock"><i> Not Available</i></span>
            <ng-template #createdAtBlock>
                <span> {{ PRODUCT_DETAILS_DATA.createdAt}}
                  <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class=" w-50">created By:</div>
          <div class=" text-secondary w-50">
            <span *ngIf="!PRODUCT_DETAILS_DATA.createdBy; else createdByBlock"><i> Not Available</i></span>
            <ng-template #createdByBlock>
                <span> {{ PRODUCT_DETAILS_DATA.createdBy}}
                  <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class=" w-50">modified At:</div>
          <div class=" text-secondary w-50">
            <span *ngIf="!PRODUCT_DETAILS_DATA.modifiedAt; else modifiedAtBlock"><i> Not Available</i></span>
            <ng-template #modifiedAtBlock>
                <span> {{ PRODUCT_DETAILS_DATA.modifiedAt}}
                  <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class=" w-50">modified By:</div>
          <div class=" text-secondary w-50">
            <span *ngIf="!PRODUCT_DETAILS_DATA.modifiedBy; else modifiedByBlock"><i> Not Available</i></span>
            <ng-template #modifiedByBlock>
                <span> {{ PRODUCT_DETAILS_DATA.modifiedBy}}
                  <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <div>
          <div style="padding-left: 5%;  padding-top: 3%; font-size: initial;">
            Change Account Coordinator
            <button mat-icon-button color="accent" (click)="editAc()">
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
          </div>

          <div [hidden]="!isHiddenAc">
            <mat-form-field>
              <mat-label>Select Account Coordinator</mat-label>
              <mat-select [(ngModel)]="selectedAccountCoordinator">
                <mat-option *ngFor="let acc of accData" [value]="acc">
                  {{acc.firstName}} {{acc.lastName}} {{ '( ' + acc.userEmail + ' )'}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button (click)="submitNewAc()">Save</button>
            <button (click)="cancel()">Cancel</button>
          </div>
        </div>

        <div>
          <div style="padding-left: 5%;  padding-top: 3%; font-size: initial;">
            Change Project Manager
            <button mat-icon-button color="accent" (click)="editPm()">
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
          </div>
          <div [hidden]="!isHiddenPm">
            <mat-form-field>
              <mat-label>Select Project Manager</mat-label>
              <mat-select [(ngModel)]="selectedNewProjectManager">
                <mat-option *ngFor="let pm of pmData" [value]="pm">
                  {{pm.firstName}} {{pm.lastName}} {{ '( ' + pm.userEmail + ' )'}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button (click)="submitNewPm()">Save</button>
            <button (click)="cancel()">Cancel</button>
          </div>
        </div>

        <div>
          <div style="padding-left: 5%;  padding-top: 3%; font-size: initial;">
            Change Allocated Developers
            <button mat-icon-button color="accent" (click)="editDev()">
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
          </div>

          <div [hidden]="!isHiddenDD">
            <mat-form-field >
              <mat-label>Select Developers</mat-label>
              <mat-select [formControl]="toppings" [(ngModel)]="newSelected"  formControlName="developers"  multiple>
                <mat-option *ngFor="let topping of ddData"
                            [value]="topping.devID">{{topping.devFirst}} {{topping.devLast}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button (click)="submitNewDev()">save</button>
            <button (click)="cancel()">cancel</button>
          </div>
        </div>
        <br>

      </mat-list>
    </div>

    <mat-divider style="margin-top: 3%"></mat-divider>

    <!--Allocations(developers) Details with this product-->
    <div>
      <mat-card-header style="padding-top: 5%">
        <mat-card-title>Allocations</mat-card-title>
        <mat-card-subtitle *ngIf="DEVELOPERS_PRODUCT_DATA && !!DEVELOPERS_PRODUCT_DATA.length">All
          : {{DEVELOPERS_PRODUCT_DATA.length}} </mat-card-subtitle>

      </mat-card-header>
      <mat-list *ngIf="!!DEVELOPERS_PRODUCT_DATA">

        <mat-list-item *ngFor="let developer of DEVELOPERS_PRODUCT_DATA; let i = index">
          <div style="width: 35%!important;">Developer{{' ' + (i + 1) + ' '}}:</div>
          <div class=" text-secondary" style="width: 65%!important;">
            <span *ngIf="!developer.firstName; else developerBlock"><i> Not Available</i></span>
            <ng-template #developerBlock>
                <span style="display: inline-block"> {{ developer.firstName + ' ' + developer.lastName  }}
                  </span>
              <span> {{ developer.userEmail }} </span>
            </ng-template>
          </div>
          <br>
        </mat-list-item>

        <mat-list-item *ngIf="!DEVELOPERS_PRODUCT_DATA.length">
          <div class="text-secondary w-100">
            <span><i> Not available any allocation with this product </i></span>
          </div>
        </mat-list-item>


      </mat-list>
    </div>

    <mat-divider style="margin-top: 3%"></mat-divider>

    <!--Complaints Details with this product-->
    <div>
      <mat-card-header style="padding-top: 5%">
        <mat-card-title>Complaints</mat-card-title>
        <mat-card-subtitle *ngIf="!!COMPLAINTS_PRODUCT_DATA.length">All
          : {{COMPLAINTS_PRODUCT_DATA.length}} </mat-card-subtitle>

      </mat-card-header>
      <mat-list *ngIf="!!COMPLAINTS_PRODUCT_DATA">

        <mat-list-item *ngFor="let singleComplaintDetail of COMPLAINTS_PRODUCT_DATA">
          <div class=" w-25">ID :</div>
          <div class="text-secondary w-25">
            <span *ngIf="!singleComplaintDetail.complaintID; else complaintIDBlock"><i> Not Available</i></span>
            <ng-template #complaintIDBlock>
              <span> {{ singleComplaintDetail.complaintID }} <br/></span>
            </ng-template>
          </div>

          <div class=" w-25">Date :</div>
          <div class="text-secondary w-75">
            <span *ngIf="!singleComplaintDetail.submittedDate; else submitDateBlock"><i> Not Available</i></span>
            <ng-template #submitDateBlock>
              <span> {{ singleComplaintDetail.submittedDate }} <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item *ngIf="!COMPLAINTS_PRODUCT_DATA.length">
          <div class="text-secondary w-100">
            <span><i> Not available any complaint with this product </i></span>
          </div>
        </mat-list-item>


      </mat-list>
    </div>

  </mat-card-content>
</mat-card>
