<!--------------Displaying Developer Allocation Details-------------->
<mat-card class="m-5 shadow">
  <mat-tab-group animationDuration="1000ms">
    <mat-tab label="Developer Allocation Details">

      <!--Filter-->
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.Developer Name" (keyup)="applyFilterAll($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceAllo" class="w-100" >

          <!--Product Id Column -->
          <ng-container matColumnDef="productID">
            <th mat-header-cell *matHeaderCellDef> Product Id</th>
            <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
          </ng-container>

        <!--Product Name Column -->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> Product Name</th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

          <!-- Developer Name Column -->
          <ng-container matColumnDef="DevName">
            <th mat-header-cell *matHeaderCellDef> Developer Name</th>
            <td mat-cell *matCellDef="let element"> {{element.DevName}} </td>
          </ng-container>

        <!-- Developer Email Column -->
        <ng-container matColumnDef="developerEmail">
          <th mat-header-cell *matHeaderCellDef> Email</th>
          <td mat-cell *matCellDef="let element"> {{element.developerEmail}} </td>
        </ng-container>

        <!-- Developer Contact Number Column -->
        <ng-container matColumnDef="contactNumber">
          <th mat-header-cell *matHeaderCellDef> Contact</th>
          <td mat-cell *matCellDef="let element"> {{element.contactNumber}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAllo"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedAllo;"></tr>
      </table>

      <!--Select number of data raws per page-->
      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

      </mat-tab>
  </mat-tab-group>
</mat-card>
