<!--<input type="file" (change)="fileChangeEvent($event)" (click)="inputBTNClicked()" />-->

<!--<image-cropper-->
<!--  [imageChangedEvent]="imageChangedEvent"-->
<!--  [maintainAspectRatio]="true"-->
<!--  [aspectRatio]="4 / 3"-->
<!--  format="png"-->
<!--  (imageCropped)="imageCropped($event)"-->
<!--  (imageLoaded)="imageLoaded(null)"-->
<!--  (cropperReady)="cropperReady()"-->
<!--  (loadImageFailed)="loadImageFailed()"-->

<!--&gt;</image-cropper>-->

<!--<img [src]="croppedImage" />-->

<app-comment-section></app-comment-section>
