<mat-card class="m-5 shadow">
  <div [hidden]="devtaskService.profileModeValue">
  <mat-tab-group animationDuration="1000ms">

    <mat-tab label="Complaint Details">

      <!--Filter-->
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.Comp ID" (keyup)="applyFilterAll($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource1" class="w-100" >

        <!-- Id Column -->
        <ng-container matColumnDef="complaintID">
          <th mat-header-cell *matHeaderCellDef> Complaint Id</th>
          <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
        </ng-container>

        <!-- SubId Column -->
        <ng-container matColumnDef="subComplaintID">
          <th mat-header-cell *matHeaderCellDef> Sub Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
        </ng-container>

        <!-- ProductID Column-->
        <ng-container matColumnDef="productID">
          <th mat-header-cell *matHeaderCellDef> Product_Id</th>
          <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
        </ng-container>

        <!-- ProductName Column-->
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> Product Name</th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>

        <!-- SubmittedDate Column-->
        <ng-container matColumnDef="submittedDate">
          <th mat-header-cell *matHeaderCellDef> Submitted Date</th>
          <td mat-cell *matCellDef="let element"> {{element.submittedDate}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="statusName">
          <th mat-header-cell *matHeaderCellDef> Status</th>
          <td mat-cell *matCellDef="let element"> {{element.statusName}} </td>
        </ng-container>

        <!-- Details button Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary"
                    (click)="redirectToDetails(element.complaintID,element.subComplaintID)">
              <mat-icon class="mat-18">reorder</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedComp"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedComp;"></tr>
      </table>

      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </mat-tab>

  </mat-tab-group>
</div>
  <!--complaint profile-->
  <div [hidden]="!devtaskService.profileModeValue">
    <app-complaint-profile [complaintIdChild]="devtaskService.complaintIdParentValue"
                           [subComplaintIdChild]="devtaskService.subComplaintIdParentValue"
                           [requestFrom]="'developer'"></app-complaint-profile>
  </div>
</mat-card>

