<mat-card>
<mat-card style="background-color: #f6f7fa">
  <mat-card-title style="color: #002fa7">Update Task Status</mat-card-title>
  <br>
  <form [formGroup]="updateDevTaskStatusForm" (ngSubmit)="onSubmit()" #myForm="ngForm">

    <div class="row">
      <mat-form-field appearance="outline" class="col-auto">
        <mat-label>Select Task</mat-label>
        <mat-select formControlName="taskID" multiple="false">
          <mat-option *ngFor="let taskID of taskIDList; let i = index"
                      [value]="taskIDList[i]">{{taskIDList[i]}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-auto">
        <mat-label>Status</mat-label>
        <mat-select  formControlName="task_status" multiple="false">
          <mat-option *ngFor="let status of taskStatusList; let i = index" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!updateDevTaskStatusForm.valid">Update</button>

  </form>
</mat-card>
</mat-card>




