<mat-drawer-container style="height: 100%!important;">
  <mat-drawer mode="side" opened style="width: 250px" class="h-100">
    <mat-selection-list [multiple]="false">

      <mat-list-option routerLink="./dashboard" [selected]="activeRoute === 'CdashboardComponent'"
                       [class.selected]="activeRoute === 'CdashboardComponent'">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <div mat-line>Dashboard</div>
      </mat-list-option>

      <mat-list-option routerLink="./late-complaint-information" [selected]="activeRoute === 'ClateComponent'"
                       [class.selected]="activeRoute === 'ClateComponent'">
        <mat-icon mat-list-icon><span class="material-icons-outlined">
pending_actions
</span></mat-icon>
        <div mat-line>Overdue Complaints</div>
      </mat-list-option>

      <mat-list-option routerLink="./view-complaints" [selected]="activeRoute === 'CviewreportsComponent'"
                       [class.selected]="activeRoute === 'CviewreportsComponent'">
        <mat-icon mat-list-icon><span class="material-icons-outlined">
view_list
</span></mat-icon>
        <div mat-line>View Complaints</div>
      </mat-list-option>

    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content class="w-100 h-100 m-0">
    <mat-drawer-content>
      <router-outlet (activate)="getRoute($event)"></router-outlet>
    </mat-drawer-content>
  </mat-drawer-content>
</mat-drawer-container>


