<!------------>
<button mat-raised-button color="primary" class="float-right m-1" (click)="changeMode(taskService.createTaskMode)"
        [hidden]="taskService.createTaskMode"> <!--(click)="addTaskMode = !addTaskMode"
        [hidden]="addTaskMode">-->
  <mat-icon>input</mat-icon>
  Create New Task
</button>

<button mat-raised-button color="primary" class="float-right m-1" (click)="changeMode(taskService.createTaskMode)"
        [hidden]="!taskService.createTaskMode"><!-- (click)="addTaskMode = !addTaskMode"
        [hidden]="!addTaskMode"-->
  <mat-icon>view_list</mat-icon>
  View Tasks
</button>

<!------------>

<mat-card class="m-5 shadow mb-4 shadow">

  <mat-card-title [hidden]="!taskService.createTaskMode"></mat-card-title>
  <mat-card-title [hidden]="taskService.createTaskMode"></mat-card-title>

  <div [hidden]="!taskService.createTaskMode">
    <app-create-task></app-create-task>
  </div>

  <div [hidden]="taskService.createTaskMode">
    <div [hidden]="taskService.isTaskProfileMode">

  <mat-tab-group animationDuration="1000ms">

    <!-- Displaying All tasks-->
    <mat-tab label="All">

      <!--Filter-->
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.Task ID" (keyup)="applyFilterAll($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceAll" class="w-100" >

        <!-- complaint ID Column -->
        <ng-container matColumnDef="complaintID">
          <th mat-header-cell *matHeaderCellDef> Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
        </ng-container>

        <!-- Sub complaint ID Column-->
        <ng-container matColumnDef="subComplaintID">
          <th mat-header-cell *matHeaderCellDef> Sub-Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
        </ng-container>

        <!-- task Id Column -->
        <ng-container matColumnDef="taskID">
          <th mat-header-cell *matHeaderCellDef>Task Id</th>
          <td mat-cell *matCellDef="let element"> {{element.taskID}} </td>
        </ng-container>

        <!-- Assigned date Column -->
        <ng-container matColumnDef="assignDate">
          <th mat-header-cell *matHeaderCellDef> Assigned Date</th>
          <td mat-cell *matCellDef="let element"> {{element.assignDate}} </td>
        </ng-container>

        <!-- Deadline Column-->
        <ng-container matColumnDef="deadline">
          <th mat-header-cell *matHeaderCellDef> Deadline</th>
          <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
        </ng-container>

        <!-- task status Column -->
        <ng-container matColumnDef="task_status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element"> {{element.task_status}} </td>
        </ng-container>

        <!-- Developer Name Column-->
        <ng-container matColumnDef="DevName">
          <th mat-header-cell *matHeaderCellDef> Developer Name</th>
          <td mat-cell *matCellDef="let element"> {{element.DevName}} </td>
        </ng-container>

        <!-- Develoer Email Column-->
        <ng-container matColumnDef="developerEmail">
          <th mat-header-cell *matHeaderCellDef> Developer Email</th>
          <td mat-cell *matCellDef="let element"> {{element.developerEmail}} </td>
        </ng-container>

        <!-- Details button Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Go To</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="redirectToDetails(element.taskID)">
              <mat-icon class="mat-18">description</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAll"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAll;"></tr>

      </table>
      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </mat-tab>

    <!-- Displaying new tasks-->
    <mat-tab label="Overdue">

      <!--Filter-->
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.Task ID" (keyup)="applyFilterOverdue($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceOverdue" class="w-100" >

        <!--Task Id Column -->
        <ng-container matColumnDef="taskID">
          <th mat-header-cell style="background-color: firebrick" *matHeaderCellDef>Task Id</th>
          <td mat-cell *matCellDef="let element"> {{element.taskID}} </td>
        </ng-container>

        <!-- Complaint ID Column -->
        <ng-container matColumnDef="complaintID">
          <th mat-header-cell style="background-color: firebrick" *matHeaderCellDef> Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
        </ng-container>

        <!-- Sub complaint ID Column-->
        <ng-container matColumnDef="subComplaintID">
          <th mat-header-cell style="background-color: firebrick" *matHeaderCellDef> Sub-Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
        </ng-container>

        <!--Assigned date Column -->
        <ng-container matColumnDef="assignDate">
          <th mat-header-cell style="background-color: firebrick" *matHeaderCellDef> Assigned Date</th>
          <td mat-cell *matCellDef="let element"> {{element.assignDate}} </td>
        </ng-container>

        <!--Deadline Column-->
        <ng-container matColumnDef="deadline">
          <th mat-header-cell style="background-color: firebrick" *matHeaderCellDef> Deadline</th>
          <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
        </ng-container>

        <!-- Developer Name Column-->
        <ng-container matColumnDef="DevName">
          <th mat-header-cell style="background-color: firebrick" *matHeaderCellDef> Developer Name</th>
          <td mat-cell *matCellDef="let element"> {{element.DevName}} </td>
        </ng-container>

        <!-- Developer Email Column-->
        <ng-container matColumnDef="developerEmail">
          <th mat-header-cell style="background-color: firebrick" *matHeaderCellDef> Developer Email</th>
          <td mat-cell *matCellDef="let element"> {{element.developerEmail}} </td>
        </ng-container>

        <!-- Details button Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell style="background-color: firebrick" *matHeaderCellDef> Go To</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="redirectToDetails(element.taskID)">
              <mat-icon class="mat-18">description</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsOverdue"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsOverdue;"></tr>
      </table>

      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </mat-tab>

    <!-- Displaying new tasks-->
    <mat-tab label="Pending">

      <!--Filter-->
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.Task ID" (keyup)="applyFilterNew($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceNew" class="w-100" >

        <!--Task Id Column -->
        <ng-container matColumnDef="taskID">
          <th mat-header-cell *matHeaderCellDef>Task Id</th>
          <td mat-cell *matCellDef="let element"> {{element.taskID}} </td>
        </ng-container>

        <!-- Complaint ID Column -->
        <ng-container matColumnDef="complaintID">
          <th mat-header-cell *matHeaderCellDef> Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
        </ng-container>

        <!-- Sub complaint ID Column-->
        <ng-container matColumnDef="subComplaintID">
          <th mat-header-cell *matHeaderCellDef> Sub-Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
        </ng-container>

        <!--Assigned date Column -->
        <ng-container matColumnDef="assignDate">
          <th mat-header-cell *matHeaderCellDef> Assigned Date</th>
          <td mat-cell *matCellDef="let element"> {{element.assignDate}} </td>
        </ng-container>

        <!--Deadline Column-->
        <ng-container matColumnDef="deadline">
          <th mat-header-cell *matHeaderCellDef> Deadline</th>
          <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
        </ng-container>

        <!-- Developer Name Column-->
        <ng-container matColumnDef="DevName">
          <th mat-header-cell *matHeaderCellDef> Developer Name</th>
          <td mat-cell *matCellDef="let element"> {{element.DevName}} </td>
        </ng-container>

        <!-- Developer Email Column-->
        <ng-container matColumnDef="developerEmail">
          <th mat-header-cell *matHeaderCellDef> Developer Email</th>
          <td mat-cell *matCellDef="let element"> {{element.developerEmail}} </td>
        </ng-container>

        <!-- Details button Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Go To</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="redirectToDetails(element.taskID)">
              <mat-icon class="mat-18">description</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsNew"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsNew;"></tr>
      </table>

      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </mat-tab>

    <!-- Displaying In-Progress tasks-->
    <mat-tab label="In-Progress">

      <!--Filter-->
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.Task ID" (keyup)="applyFilterInProgress($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceInProgress" class="w-100" >

        <!-- Id Column -->
        <ng-container matColumnDef="taskID">
          <th mat-header-cell *matHeaderCellDef>Task Id</th>
          <td mat-cell *matCellDef="let element"> {{element.taskID}} </td>
        </ng-container>

        <!-- Complaint ID Column -->
        <ng-container matColumnDef="complaintID">
          <th mat-header-cell *matHeaderCellDef> Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
        </ng-container>

        <!-- Sub complaint ID Column-->
        <ng-container matColumnDef="subComplaintID">
          <th mat-header-cell *matHeaderCellDef> Sub-Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
        </ng-container>

        <!-- Assigned date Column -->
        <ng-container matColumnDef="assignDate">
          <th mat-header-cell *matHeaderCellDef> Assigned Date</th>
          <td mat-cell *matCellDef="let element"> {{element.assignDate}} </td>
        </ng-container>

        <!-- Deadline Column-->
        <ng-container matColumnDef="deadline">
          <th mat-header-cell *matHeaderCellDef> Deadline</th>
          <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
        </ng-container>

        <!-- Developer Name Column-->
        <ng-container matColumnDef="DevName">
          <th mat-header-cell *matHeaderCellDef> Developer Name</th>
          <td mat-cell *matCellDef="let element"> {{element.DevName}} </td>
        </ng-container>

        <!-- Developer Email Column-->
        <ng-container matColumnDef="developerEmail">
          <th mat-header-cell *matHeaderCellDef> Developer Email</th>
          <td mat-cell *matCellDef="let element"> {{element.developerEmail}} </td>
        </ng-container>

        <!-- Details button Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Go To</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="redirectToDetails(element.taskID)">
              <mat-icon class="mat-18">description</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsInProgress"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsInProgress;"></tr>

      </table>
      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </mat-tab>
    <mat-tab label="Completed">

      <!--Filter-->
      <mat-form-field class="w-75 m-3">
        <mat-label>Filter</mat-label>
        <input matInput placeholder="Ex.Task ID" (keyup)="applyFilterCompleted($event)">
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceCompleted" class="w-100" >

        <!-- Id Column -->
        <ng-container matColumnDef="taskID">
          <th mat-header-cell *matHeaderCellDef>Task Id</th>
          <td mat-cell *matCellDef="let element"> {{element.taskID}} </td>
        </ng-container>

        <!-- Complaint ID Column -->
        <ng-container matColumnDef="complaintID">
          <th mat-header-cell *matHeaderCellDef> Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
        </ng-container>

        <!-- Sub Complaint ID Column-->
        <ng-container matColumnDef="subComplaintID">
          <th mat-header-cell *matHeaderCellDef> Sub-Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
        </ng-container>

        <!-- Developer Name Column-->
        <ng-container matColumnDef="DevName">
          <th mat-header-cell *matHeaderCellDef> Developer Name</th>
          <td mat-cell *matCellDef="let element"> {{element.DevName}} </td>
        </ng-container>

        <!-- Developer Email Column-->
        <ng-container matColumnDef="developerEmail">
          <th mat-header-cell *matHeaderCellDef> Developer Email</th>
          <td mat-cell *matCellDef="let element"> {{element.developerEmail}} </td>
        </ng-container>

        <!-- Details button Column -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Go To</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="redirectToDetails(element.taskID)">
              <mat-icon class="mat-18">description</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsCompleted"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCompleted;"></tr>

      </table>
      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </mat-tab>
    <mat-tab label="Update developer">
      <mat-card>
<app-assign-new-developer></app-assign-new-developer>
      </mat-card>
    </mat-tab>


  </mat-tab-group>
    </div>

    <!--task profile-->
    <div [hidden]="!taskService.isTaskProfileMode" >
      <app-task-profile [taskIDChild] = selectedTaskID></app-task-profile>
    </div>

  </div>

</mat-card>


