<mat-card class="m-5 shadow">

  <mat-tab-group animationDuration="1000ms">

    <!-- Add new task -->
    <mat-tab label="Create">
      <div class="" style="" >
        <app-create-task></app-create-task>
      </div>
    </mat-tab>

    <!-- Displaying All complaints-->
    <mat-tab label="In-Progress">

      <table mat-table [dataSource]="dataSourceIP" class="w-100" >

        <!-- Id Column -->
        <ng-container matColumnDef="taskID">
          <th mat-header-cell *matHeaderCellDef>Task Id</th>
          <td mat-cell *matCellDef="let element"> {{element.taskID}} </td>
        </ng-container>

        <!-- SubId Column -->
        <ng-container matColumnDef="complaintID">
          <th mat-header-cell *matHeaderCellDef> Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.complaintID}} </td>
        </ng-container>

        <!-- ProductID Column-->
        <ng-container matColumnDef="subComplaintID">
          <th mat-header-cell *matHeaderCellDef> Sub-Complaint ID</th>
          <td mat-cell *matCellDef="let element"> {{element.subComplaintID}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="assignDate">
          <th mat-header-cell *matHeaderCellDef> Assigned Date</th>
          <td mat-cell *matCellDef="let element"> {{element.assignDate}} </td>
        </ng-container>

        <!-- Status Column-->
        <ng-container matColumnDef="deadline">
          <th mat-header-cell *matHeaderCellDef> Deadline</th>
          <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
        </ng-container>

        <!-- SubmittedDate Column-->
        <ng-container matColumnDef="DevName">
          <th mat-header-cell *matHeaderCellDef> Developer Name</th>
          <td mat-cell *matCellDef="let element"> {{element.DevName}} </td>
        </ng-container>

        <!-- LastPending Column-->
        <ng-container matColumnDef="developerEmail">
          <th mat-header-cell *matHeaderCellDef> Developer Email</th>
          <td mat-cell *matCellDef="let element"> {{element.developerEmail}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsIP"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsIP;"></tr>

      </table>


    </mat-tab>
    <mat-tab label="Completed"></mat-tab>

  </mat-tab-group>

</mat-card>


