<mat-card class="mr-5 ml-5 mt-5 mb-4 shadow">
  <mat-card-title style="text-align: center">Mail to Customer</mat-card-title>
  <br>
  <form [formGroup]="sendMailToCustomerForm" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="row">
      <mat-form-field appearance="outline" class="col-auto">
        <mat-label>Select Customer</mat-label>
        <mat-select formControlName="customerEmail" multiple="false">
          <mat-option *ngFor="let customerEmail of customerEmailList; let i = index"
                      [value]="customerEmailList[i]">{{customerNameList[i]}} - {{customerEmailList[i]}}</mat-option>
        </mat-select>
        <mat-error>Please select a customer</mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="col-auto">
        <mat-label>Complaint ID</mat-label>
        <mat-select  formControlName="complaintID" multiple="false">
          <mat-option *ngFor="let complaintID of compIDList; let i = index" [value]="compIDList[i]">{{compIDList[i]}}</mat-option>
        </mat-select>
        <mat-error>Please select complaint ID</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-auto">
        <mat-label>Subject</mat-label>
        <mat-select  formControlName="cusSubject" multiple="false">
          <mat-option *ngFor="let cusSubject of cusSubjectList; let i = index" [value]="cusSubjectList[i]">{{cusSubjectList[i]}}</mat-option>
        </mat-select>
        <mat-error>Please select subject</mat-error>
      </mat-form-field>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!sendMailToCustomerForm.valid">Send</button>
  </form>
</mat-card>
