<div class="card" style="margin: 204px; max-width: 500px">

  <div class="card-header m-0 d-flex justify-content-between">

    <div class="mt-2">
      <h5>Upload Profile Picture</h5>
    </div>

    <div>
      <a mat-icon-button mat-dialog-close style="float: right"><mat-icon>close</mat-icon></a>
    </div>

  </div>

  <mat-divider></mat-divider>

  <img *ngIf="!imageChangedEvent" style="height: 100%; width: 100%" class="card-image p-0" src="../../../../../assets/img/default-profile-picture.png" alt="profile Picture" />

  <image-cropper *ngIf="imageChangedEvent" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1" format="png" (imageCropped)="imageCropped($event)" class="card-image p-0" ></image-cropper>

  <div class="card-body p-0">

    <div *ngIf="error" class="alert alert-danger m-2">{{ error }}</div>

    <div class="d-flex flex-row-reverse">

      <input #fileUpload type="file" (change)="fileChangeEvent($event)" style="display: none"/>

      <button *ngIf="!imageChangedEvent" mat-button type="button" class="my-2 mx-1" (click)="clickFileUpload()">Select an Image</button>

      <button *ngIf="imageChangedEvent" mat-button type="button" class="my-2 mx-1" (click)="clickFileUpload()">Change Image</button>

      <button *ngIf="imageChangedEvent" mat-raised-button color="primary" (click)="onFileSelected()" type="button" class="my-2 mx-1">
        <span *ngIf="savingData" class="spinner-border spinner-border-sm mr-1"></span>
        Save
      </button>

    </div>

  </div>
</div>
