.example-card {

}
.harahta{
  background-color: royalblue;
  text-align: start;
  -webkit-text-fill-color: #f6f7fa;
}

.example-list-section{
  padding-bottom: 490px;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: white;
}
.mat-header-cell {
  flex: 1;
  align-items: center;
  background-color: royalblue;
  color: #dddddd;
}
.mat-cell{
  background-color: #ebebeb;
  color: black;
}
.mat-tab-header-cell {
  color: #4B9FE1;
}

