<mat-grid-list cols="5" rows="5">
  <mat-grid-tile [colspan]="1" [rowspan]="1">

  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1" >

  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">

  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">

  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <mat-card style="margin-right: 13%; height: 360px; width: 430px">
      <div id="divChart5">
        <canvas id="myChart5"></canvas>
      </div>
      <mat-card-title style="margin-top: 130px">Feedback</mat-card-title>
      <mat-card-subtitle>feedback given by customers</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2">

  </mat-grid-tile>

</mat-grid-list>

