<mat-grid-list cols="6" rows="3" rowHeight="200px" class="mat-typography">

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card  style="background-color: #D8E6FF; width: 85%; height: 78%">
      <mat-card-title class="class1" >{{allll}}</mat-card-title>
      <h4 class="words">Total Complaints</h4>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1" >
    <mat-card  style="background-color: #9DC2FF; width: 85%; height: 78%">
      <mat-card-title class="class1" >{{datpe}}</mat-card-title>
      <h4 class="words">Pending Complaints</h4>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card  style="background-color: #4F91FF; width: 85%; height: 78%">
      <mat-card-title class="class1" >{{datawo}}</mat-card-title>
      <h4 class="words">In-Progress Complaints</h4>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card  style="background-color: #2264D1; width: 85%; height: 78%">
      <mat-card-title class="class1" >{{datfi}}</mat-card-title>
      <h4 class="words">Finish Complaints</h4>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card  style="background-color: #133774; width: 90%; height: 80%">
      <mat-card-title class="class1" >{{closs}}</mat-card-title>
      <h4 class="words">Closed Complaints</h4>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="3" [rowspan]="2">
    <mat-card style="height: 95%; width: 90%">
      <div id="divChart5">
        <canvas id="myChart5"></canvas>
      </div>
      <mat-card-title>Feedback</mat-card-title>
      <mat-card-subtitle>feedback given by customers</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3" [rowspan]="2">
    <mat-card style="height: 95%; width: 90%">
      <div id="divChart1">
        <canvas id="myChart1"></canvas>
      </div>
      <mat-card-title>Complaint Status</mat-card-title>
      <mat-card-subtitle>Present status of your complaints</mat-card-subtitle>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

