<!--div>
  <mat-card>
    <h1>Compose Email</h1>

    <mat-form-field style="width: 100%">
      <input matInput placeholder="Subject" [formControl]="subjectFormControl">
      <mat-error *ngIf="subjectFormControl.hasError('minlength')">
        Subject must be at least 4 character long
      </mat-error>
      <mat-error *ngIf="subjectFormControl.hasError('required')">
        Subject is required
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input matInput placeholder="Email" [formControl]="emailFormControl">
      <mat-error *ngIf="subjectFormControl.hasError('email')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="subjectFormControl.hasError('required')">
        Subject is required
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input matInput placeholder="Mail Body" [formControl]="bodyFormControl">
      <mat-error *ngIf="bodyFormControl.hasError('required')">
        Mail body is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button [disabled]="subjectFormControl.invalid || nameFormControl.invalid || bodyFormControl.invalid" ]
            color="primary"
            (click)="send()" )>{{buttonText}</button>
  </mat-card>
</div-->

<mat-card class="mr-5 ml-5 mt-5 mb-4 shadow">
<div class="container-fluid">

  <form [formGroup]="MailForm" (ngSubmit)="onSubmit()" #myForm="ngForm">


      <div class="row">
        <mat-form-field class="col-auto" appearance="outline">
          <mat-label>To: (Reciever's Email)</mat-label>
          <input type="text" matInput formControlName="recMail" placeholder="Reciever's Email">
        </mat-form-field>
      </div>
      <div class="row">
      <mat-form-field class="col-12" appearance="outline">
        <mat-label>Subject</mat-label>
        <input type="text" matInput formControlName="subject" placeholder="Subject">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-12" appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" placeholder="Message"></textarea>
      </mat-form-field>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!MailForm.valid">Send</button>

  </form>

</div>
</mat-card>



