<mat-card class="mr-5 ml-5 mt-5 mb-4 shadow">

  <mat-tab-group animationDuration="1000ms">

    <mat-tab label="Generate Mail To Customer">
      <app-mail-to-customer></app-mail-to-customer>
    </mat-tab>
    <mat-tab label="Generate Mail To Developer">
      <app-mail-to-developer></app-mail-to-developer>
    </mat-tab>
    <mat-tab label="Create Mail">

      <mat-card style="background-color: #f6f7fa" class="mr-5 ml-5 mt-5 mb-4 shadow">
        <mat-card-title style="text-align: center">Create a Mail</mat-card-title>

  <form [formGroup]="MailForm" (ngSubmit)="onSubmit()" #myForm="ngForm">


      <div class="row">
        <mat-form-field appearance="outline" class="col-auto">
          <mat-label>Select User</mat-label>
          <mat-select formControlName="userEmail" multiple="false">
            <mat-option *ngFor="let userEmail of userEmailList; let i = index"
                        [value]="userEmailList[i]">{{userNameList[i]}} - {{userEmailList[i]}}</mat-option>
          </mat-select>
          <mat-error>Please select a user</mat-error>
        </mat-form-field>
      </div>
      <div class="row">
      <mat-form-field class="col-12" appearance="outline">
        <mat-label>Subject</mat-label>
        <input type="text" matInput formControlName="subject" placeholder="Enter a Subject of minimum 10 characters">
        <mat-error>Please enter subject of minimum 10 characters</mat-error>
      </mat-form-field>

    </div>

    <div class="row">
      <mat-form-field class="col-12" appearance="outline">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message" placeholder="Enter a Message of minimum 10 characters"></textarea>
        <mat-error>Please enter message of minimum 10 characters</mat-error>
      </mat-form-field>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!MailForm.valid">Send</button>

  </form>

      </mat-card>
    </mat-tab>
  </mat-tab-group>
</mat-card>





