<div [hidden]="false">
<mat-tab-group animationDuration="1000ms" [selectedIndex]="tabIndex">

  <mat-tab label="General Details">
    <div>
      <mat-list *ngIf="!!TASK_DETAILS_DATA">

        <mat-list-item>
          <div class=" w-25">taskID: </div>
          <div class="text-secondary w-75">
            <span *ngIf="!TASK_DETAILS_DATA.taskID; else taskIDBlock"><i> Not Available</i></span>
            <ng-template #taskIDBlock>
              <span> {{ TASK_DETAILS_DATA.taskID }} <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class=" w-25">Developer Contact Number: </div>
          <div class=" text-secondary w-75">
            <span *ngIf="!TASK_DETAILS_DATA.contactNumber; else contactNumberBlock"><i> Not Available</i></span>
            <ng-template #contactNumberBlock>
              <span> {{ TASK_DETAILS_DATA.contactNumber }} <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

        <mat-list-item>
          <div class=" w-25">Task Description: </div>
          <div class=" text-secondary w-75">
            <span *ngIf="!TASK_DETAILS_DATA.task_description; else task_descriptionBlock"><i> Not Available</i></span>
            <ng-template #task_descriptionBlock>
              <span> {{ TASK_DETAILS_DATA.task_description }} <br/></span>
            </ng-template>
          </div>
        </mat-list-item>

      </mat-list>
    </div>
    <div [hidden]="taskIdAvailable">
      <i> Requested Task Id is null</i>
    </div>
  </mat-tab>
<!--
  <mat-tab label="Edit Task">
    <div>
      <mat-card>
      <form [formGroup]="editTaskForm" (ngSubmit)="saveChangesDialog()" class="mat-typography">



         <div class="row">
            <mat-form-field class="col-auto" appearance="outline">
              <mat-label>Developer Email</mat-label>
              <input [readonly]="!edit" matInput placeholder="pat@example.com" formControlName="developerEmail"
                     [required]="edit">
              <mat-error *ngIf="developerEmail.touched && developerEmail.errors?.required">You must enter a value</mat-error>
              <mat-error *ngIf="developerEmail.touched && !developerEmail.errors?.required && developerEmail.errors?.developerEmail">Not a valid email
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
          <mat-form-field class="col-auto" appearance="outline">
            <mat-label>Deadline</mat-label>
            <input [readonly]="!edit" type="datetime-local" matInput formControlName="deadline" [required]="edit">
            <mat-error [hidden]="!edit" *ngIf="deadline.touched && deadline.errors?.required">You must enter a
              value
            </mat-error>
          </mat-form-field>
          </div>


        <div class="row">

          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea [readonly]="!edit"  matInput formControlName="description" [required]="edit"></textarea>
            <mat-error [hidden]="!edit" *ngIf="description.touched && description.errors?.required">You must enter a
              value
            </mat-error>
            <mat-error [hidden]="!edit"
                       *ngIf="description.touched && !description.errors?.required && !description.errors?.minLength">
              Enter at least 3 letters
            </mat-error>
          </mat-form-field>
        </div>


        <button class="btn btn-primary" type="button" [hidden]="edit" (click)="edit = !edit">Edit Task</button>
        <button class="btn btn-primary" type="button" [hidden]="!edit" (click)="onCancelEdit()">Cancel</button>
        <span></span>
        <button class="btn btn-primary" style="float: right" type="submit"
                [hidden]="!editTaskForm.valid || !haveChanges">Save
        </button>

      </form>
      </mat-card>
    </div>
  </mat-tab>
-->

</mat-tab-group>

  <button class="btn btn-primary" (click)="backToAllTasks()" [hidden]="!taskService.isTaskProfileMode">
      <mat-icon>arrow_back_ios</mat-icon>
      Back to Tasks
    </button>

</div>
