<div class="container-fluid">

  <form [formGroup]="addComplaintForm" (ngSubmit)="onSubmit()" #myForm="ngForm">

    <div class="row">

      <mat-form-field class="col-12" appearance="outline">
        <mat-label>Product ID</mat-label>
        <input type="text" matInput formControlName="productID" placeholder="Product ID">
      </mat-form-field>
    </div>

    <div class="row">

      <mat-form-field class="col-12" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Deascription"></textarea>
      </mat-form-field>

    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!addComplaintForm.valid">Enter</button>

  </form>

</div>


